@import '../variables/colors';

.background-colors {
  @each $label, $map in $colors {
    $color: map-get($map, color);
    $contrast: map-get($map, contrast);
    $labels: ($label);

    @if map-has-key($map, alt-labels) {
      $alt-labels: map-get($map, alt-labels);
      @each $label in $alt-labels {
        $labels: append($labels, $label)
      }
    }

    @each $label in $labels {
      &.remove-text-contrast.is-#{$label} {
        color: $color;
      }

      &.is-#{$label} {
        border-color: $color;
        background: $color;
        color: $contrast;

        i, svg {
          color: $contrast;
        }
      }
    }
  }
}
