@import '../variables/colors';

.background-colors {
  @each $label, $map in $colors {
    $color: map-get($map, color);
    $text: map-get($map, text);
    $labels: ($label);

    @if map-has-key($map, alt) {
      $alt-labels: map-get($map, alt);
      @each $label in $alt-labels {
        $labels: append($labels, $label)
      }
    }

    &.set-text {
      color: $color;
    }

    @each $label in $labels {
      &.is-#{$label} {
        border-color: $color;
        background: $color;
        color: $text;
      }
    }
  }
}
