@import '../variables/typography';

@import '../variables/fontawesome/fontawesome';
@import '../variables/fontawesome/fa-light';

@each $label, $map in $typography {
  $family: map-get($map, family);
  $size: map-get($map, size);
  $color: map-get($map, color);
  $weight: map-get($map, weight);
  $spacing: map-get($map, spacing);
  $line-height: map-get($map, line-height);

  $elements: map-get($map, elements);
  $alt-labels: map-get($map, alt-labels);
  $labels: ($label);

  %fontblock {
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    letter-spacing: $spacing;
    line-height: $line-height;
    color: $color;
  }

  @if $alt-labels {
    @each $label in $alt-labels {
      $labels: append($labels, $label)
    }
  }

  @if $elements {
    @each $element in $elements {
      #{$element} {
        @extend %fontblock;
      }
    }
  }

  @each $label in $labels {
    .is-#{$label} {
      @extend %fontblock;
    }
  }
}

* {
  @extend .is-p;
}
