@import '../variables/colors';

@mixin color-modifiers($list: ('primary', 'warn', 'danger', 'safe'), $main-property: 'background', $contrast-property: '', $selector: '', $color-set: $all-colors) {
  @each $label in $list {
    $map: color-map($label, $color-set);

    &.is-#{$label}#{$selector} {
      #{$main-property}: map-get($map, color);

      @if $contrast-property {
        #{$contrast-property}: map-get($map, contrast);
      }
    }
  }
}

// Making CSS-variables for all colors and contrast-colors
@each $label, $map in $all-colors {
  $color: color($label);
  $contrast: map-get($map, contrast);

  $alt-labels: map-get($map, alt-labels);
  $labels: ($label);

  @if $alt-labels {
    @each $label in $alt-labels {
      $labels: append($labels, $label);
    }
  }

  @each $label in $labels {
    :root {
      --hdd-color-#{$label}: #{$color};
      --hdd-color-contrast-#{$label}: #{$contrast};
    }
  }
}
