.is-d-block {
  display: block;
}

.is-d-inline {
  display: inline;
}

.is-d-inline-block {
  display: inline-block;
}

.is-d-flex {
  display: flex;
}

.is-d-inline-flex {
  display: inline-flex;
}

.is-d-none,
.is-d-hide {
  display: none;
}

.is-clickable {
  cursor: pointer;
}

.is-grabbable {
  cursor: grab;
}
