@mixin linear-gradient($angle, $gradient1, $gradient2) {
  background-color: $gradient2;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, $angle, from($gradient1), to($gradient2));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient($angle, $gradient1, $gradient2);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient($angle, $gradient1, $gradient2);
  /* FF3.6 */
  background-image: -ms-linear-gradient($angle, $gradient1, $gradient2);
}

@mixin transform($value) {
  transform: $value;
  -o-transform: $value;
  -ms-transform: $value;
  -webkit-transform: $value;
}

@mixin transform-origin ($value) {
  transform-origin: $value;
  -o-transform-origin: $value;
  -ms-transform-origin: $value;
  -webkit-transform-origin: $value;
}

@mixin animation($name, $duration, $timing, $type) {
  animation: $name $duration $timing $type;
  -o-animation: $name $duration $timing $type;
  -moz-animation: $name $duration $timing $type;
  -webkit-animation: $name $duration $timing $type;
}

@mixin animation-delay($value) {
  animation: $value;
  -o-animation: $value;
  -moz-animation: $value;
  -webkit-animation: $value;
}

@mixin keyframes($value) {
  @-webkit-keyframes #{$value} {
    @content;
  }
  @-moz-keyframes #{$value} {
    @content;
  }
  @-o-keyframes #{$value} {
    @content;
  }
  @keyframes #{$value} {
    @content;
  }
}

@mixin placeholder() {
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    @content;
    opacity: 1;
  }

  &:-ms-input-placeholder { /* Microsoft Edge */
    @content;
  }

  &::placeholder { /* Most modern browsers support this now. */
    @content;
  }
}

@mixin top-arrow($size: 5px, $color: #FFFFFF) {
  content: '';

  display: block;
  
  position: absolute;
  
  top: -$size;
  right: 0;
  left: 0;
  
  width: 0;
  height: 0;
  
  margin: auto;
  
  border-right: $size solid transparent;
  border-bottom: $size solid var(--hdd-white);
  border-left: $size solid transparent;

  color: $color;
}

 /* Ripple effect */
 @mixin ripple($ripple-color, $ripple-duration) {
  display: inline-block;
  position: relative;
  overflow: hidden;

  &::before {
    display: none;
    content: "";
    position: absolute;
    border-radius: 50%;
    background-color: $ripple-color;
    width: 30px;
    height: 30px;
    z-index: 1;
    margin-top: -15px;
    margin-left: -15px;
    top: 50%;
    left: 50%;
    animation: ripple $ripple-duration;
    opacity: 0;
  }

  @keyframes ripple {
    from {
      opacity: 0.7;
      transform: scale(0);
    }
    to {
      opacity: 0;
      transform: scale(10);
    }
  }

  &:not([disabled]){
    &:focus:not(:active)::before {
      display: block;
    }
  }
}
