@use '../variables/shadows' as shadows;

.hdd-shadow {
    &-light {
        box-shadow: shadows.$shadow-light;
    }
    &-medium {
        box-shadow: shadows.$shadow-medium;
    } 
    &-strong {
        box-shadow: shadows.$shadow-strong;
    }
} 

// Making CSS-variables for all shadows
:root {
    --hdd-shadow-light: #{shadows.$shadow-light};
    --hdd-shadow-medium: #{shadows.$shadow-medium};
    --hdd-shadow-strong: #{shadows.$shadow-strong};
}
