@import '../variables/typography';
@import '../variables/fontawesome/fa-light';
@import '../variables/fontawesome/fa-regular';

/**
 * Looper over $typography i variables og lager .is-klassene
 * Klassene som genereres: .is-h1, .is-h2, .is-h3, .is-p, .is-p-faded, .is-p-small, .is-icon-small, .is-icon-medium, .is-icon-large
 */

@each $label, $map in $typography {
  $family: map-get($map, family);
  $size: map-get($map, size);
  $color: map-get($map, color);
  $weight: map-get($map, weight);
  $spacing: map-get($map, spacing);
  $line-height: map-get($map, line-height);

  $elements: map-get($map, elements);
  $alt-labels: map-get($map, alt-labels);
  $labels: ($label);

  %fontblock-#{$label} {
    color: $color;
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    letter-spacing: $spacing;
    line-height: $line-height;
  }

  @if $alt-labels {
    @each $label in $alt-labels {
      $labels: append($labels, $label);
    }
  }

  @if $elements {
    @each $element in $elements {
      #{$element} {
        @extend %fontblock-#{$label};
      }
    }
  }

  @each $label in $labels {
    .is-#{$label} {
      @extend %fontblock-#{$label};
    }
  }
}

body {
  @extend .is-p;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');
