$form-checkbox-mark-size: 14px;
$form-checkbox-mark-border-radius: $border-radius;
$form-checkbox-mark-border: 1px solid var(--hdd-color-dynamic-primary);

.hdd-form_checkbox {
  --hdd-color-checkbox-background: var(--hdd-color-background-secondary);

  @include is-dark-theme() {
    --hdd-color-checkbox-background: #232222;
  }

  // Variable containing '&' to jump to current parent inside a child class.
  $this: &;

  display: flex;
  align-items: center;
  margin-bottom: 0.75rem;
  cursor: pointer;
  box-sizing: content-box;

  // Creating placeholder to inject style into checkbox mutations.
  // We have to seperate the checkbox marked styling because of the checked state
  %checkbox-mark {
    position: relative;
    background: var(--hdd-color-dynamic-primary);
    &::before {
      @extend .fal, .fa-check, :before;

      top: -1px;
      left: 50%;
      transform: translateX(-50%);

      color: var(--hdd-color-white);
      font-size: 0.75rem;
    }
  }

  &.is-checked {
    #{$this}_mark {
      @extend %checkbox-mark;
    }
  }

  &.is-invalid {
    input:checked ~ #{$this}_mark,
    #{$this}_mark {
      border-color: var(--hdd-color-signal-red);

      &::before {
        color: var(--hdd-color-signal-red);
      }
    }
  }

  // Need to hide the original checkbox
  input {
    display: none;

    &:checked ~ #{$this}_mark {
      @extend %checkbox-mark;
    }
  }

  // currently not in use
  .hdd-badge {
    margin-left: 0.5rem;
    float: right;
  }

  &_mark {
    display: inline-block;

    width: $form-checkbox-mark-size;
    height: $form-checkbox-mark-size;
    transition: background 0.3s $transition-cubic;
    border: $form-checkbox-mark-border;
    border-radius: $form-checkbox-mark-border-radius;
    background: var(--hdd-color-checkbox-background);
  }

  &_label {
    flex-grow: 1;
    margin-left: 1rem;
  }
}
