.hdd-form_toggle {
  cursor: pointer;
  display: flex;
  height: 1rem;
  width: 2rem;

  // Hides inital html checkbox
  & input {
    opacity: 0;
    height: 0;
    width: 0;
  }

  &.slider {
    background-color: var(--hdd-color-white);
    border: 1px solid var(--hdd-color-blue);
    border-radius: 2rem;
    position: absolute;
    transition: 0.1s;
  }
  &.slider:before {
    position: absolute;
    content: "";
    height: 0.7rem;
    width: 0.7rem;
    top: 0.15rem;
    right: 0.2rem;
    left: 0.2rem;
    bottom: 0.15rem;
    background-color: var(--hdd-color-blue);
    transition: 0.1s;
    border-radius: 50%;
  }

  input:checked + .slider {
    background-color: var(--hdd-color-blue);
  }

  input:checked + .slider:before {
    background-color: var(--hdd-color-white);
    @include transform(translateX(0.9rem));
  }
}
