.hdd-form_field {
  // Variable containing '&' to jump to current parent inside a child class.
  $this: &;

  display: block;
  position: relative;
  margin-bottom: 2rem;
  text-align: left;

  &_label {
    // update to is-p-small, after typo is done, and adjust line height.
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 16px;
    display: flex;
    letter-spacing: 0.2px;
    margin-bottom: var(--hdd-spacing-1);
  }

  &_title {
    // .is-p is font-properties, defined in typography.
    @extend .is-p;
    display: block;
    margin-bottom: 1rem;
  }

  &_error,
  &_info {
    display: none;
    position: absolute;
    margin-top: 0.2rem;
    font-size: 0.8rem;
    align-items: center;

    &.is-active {
      display: inline-flex;
      align-items: center;
    }
  }

  &_error {
    > i {
      margin-right: 5px;
      color: var(--hdd-color-signal-red);
    }
  }

  &_info {
    color: var(--hdd-color-font-color);
  }

  &.is-line {
    > * {
      &:not(#{$this}_title):not(#{$this}_error) {
        margin-right: 1rem;
        float: left;
      }
    }
  }

  &.is-inline {
    display: inline-block;
  }
}
