$form-input-padding: $form-input-padding-left;
$form-input-border-radius: $border-radius;
$form-input-border: 1px solid var(--hdd-color-grey-border);

.hdd-form_input {
  // Variable containing '&' to jump to current parent inside a child class.
  $this: &;

  display: flex;
  box-sizing: border-box;
  align-items: center;
  padding: var(--hdd-spacing-1);
  padding-left: $form-input-padding;
  transition: border-color $medium-transition $transition-cubic;
  border: $form-input-border;
  border-radius: $form-input-border-radius;
  background: var(--hdd-color-white);
  line-height: 150%;

  &.is-invalid {
    border-color: var(--hdd-color-signal-red);

    i {
      color: var(--hdd-color-signal-red);
    }
  }

  &.is-disabled {
    border-color: var(--hdd-color-grey);;
    cursor: none;

    input {
      color: var(--hdd-color-grey);
    }
  }

  &_field,
  > input,
  > textarea {
    // .is-p is font-properties, defined in typography
    @extend .is-p;

    width: 100%;
    padding: 0;
    border: none;
    background: transparent;

    @include placeholder() {
      color: var(--hdd-color-grey);
    }
  }

  > textarea {
    height: 16px;
    min-height: 16px;
    resize: vertical;
  }

  &_icon,
  > svg,
  > i {
    transition: color $medium-transition $transition-cubic, opacity $medium-transition $transition-cubic;
    color: var(--hdd-color-black);
    font-size: font-size(h2);

    &:first-child {
      margin-right: $form-input-icon-margin;
    }

    &:last-child {
      margin-left: $form-input-icon-margin;
    }
  }
}
