@use "./../../variables/shared-sizes.scss" as shared-sizes;
@use "./../../utilities/helpers.scss" as helpers;
@use "./../../variables/animations.scss" as animations;
@use "./../../variables/typography.scss" as typography;


$_form-input-padding: shared-sizes.$form-input-padding-left 0.9rem;

.hdd-form_input {
  // Variable containing '&' to jump to current parent inside a child class.
  $this: &;

  display: flex;
  box-sizing: border-box;

  align-items: center;
  padding: $_form-input-padding;
  transition: border-color animations.$medium-transition animations.$transition-cubic;
  border: shared-sizes.$form-input-border;
  border-radius: shared-sizes.$border-radius;

  background: var(--hdd-color-white);

  &:not(.is-invalid):focus-within {
    @extend .hdd-form_input, .is-focus;
  }

  &.is-focus {
    border-color: var(--hdd-color-primary);

    #{$this}_icon,
    svg,
    i {
      opacity: 1;
      color: var(--hdd-color-primary);
    }
  }

  &.is-invalid {
    border-color: var(--hdd-color-signal-red);

    i {
      color: var(--hdd-color-signal-red);
    }
  }

  &.is-disabled {
    background: var(--hdd-color-grey-light);
    cursor: default;
  }

  &_field,
  > input,
  > textarea {
    // .is-p is font-properties, defined in typography
    @extend .is-p;

    width: 100%;
    padding: 0;
    border: none;
    background: transparent;

    @include helpers.placeholder() {
      color: var(--hdd-color-grey);
    }
  }

  > textarea {
    height: 16px;
    min-height: 16px;
    resize: vertical;
  }

  &_icon,
  > svg,
  > i {
    transition: color animations.$medium-transition animations.$transition-cubic, opacity animations.$medium-transition animations.$transition-cubic;
    opacity: 0.44;
    color: var(--hdd-color-black);
    font-size: typography.font-size(h2);

    &:first-child {
      margin-right: shared-sizes.$form-input-icon-margin;
    }

    &:last-child {
      margin-left: shared-sizes.$form-input-icon-margin;
    }
  }
}
