.hdd-radio-switch{
    display: flex;
    width: fit-content;
    background: var(--hdd-white);
    border-radius: 2rem;
    border: 1px solid var(--hdd-blue);

    input {
    opacity: 0;
    height: 0;
    width: 0;
    position: absolute !important;
  }

  label {
    @extend .is-p-small;
    background-color: #FFF;
    text-align: center;
    padding: 0.5rem 1rem;
    margin: 0.25rem;
    border-radius:2rem;
  }
  
  label:hover {
      cursor: pointer;
  }

   input:checked + label {
      background-color: var(--hdd-blue);
      color:var(--hdd-white);
      transition: all 0.3s ease-in-out;
  }
}
