$form-select-padding: $form-input-padding;
$form-select-border-radius: $border-radius;
$form-select-border: $form-input-border;
$form-select-icon-margin: 0.9rem;

.hdd-form_select {
  // Variable containing '&' to jump to current parent inside a child class.
  $this: &;

  display: flex;
  position: relative;
  align-items: center;

  width: 100%;

  transition: border-color $medium-transition $transition-cubic;
  border: $form-select-border;
  border-radius: $form-select-border-radius;

  background: var(--hdd-background-secondary);

  select {
    flex-grow: 1;
    padding: $form-select-padding;

    border: 0;
    background: none;
    color: var(--hdd-text-primary);

    -moz-appearance: none;
    -webkit-appearance: none;

    &::-ms-expand {
      display: none;
    }
  }

  &:focus-within {
    @extend .hdd-form_select, .is-focus;
  }

  &.is-focus {
    border-color: var(--hdd-theme-primary-color);

    select {
      color: var(--hdd-theme-primary-color);
    }

    #{$this}_icon,
    > svg,
    > i {
      opacity: 1;
      color: var(--hdd-theme-primary-color);
    }
  }

  &.is-invalid {
    border-color: var(--hdd-color-signal-red);

    select {
      color: var(--hdd-color-signal-red);
    }

    i {
      opacity: 1;
      color: var(--hdd-color-signal-red);
    }
  }

  &.is-disabled {
    background: var(--hdd-background-disabled);
    cursor: default;
  }

  &.has-icon {
    select {
      padding-left: calc(#{$form-input-icon-margin} + #{font-size(h2)} + #{$form-input-padding-left});
    }
  }

  &_icon,
  > svg,
  > i {
    position: absolute;
    transition: color $medium-transition $transition-cubic, opacity $medium-transition $transition-cubic;
    opacity: 0.44;
    color: var(--hdd-text-secondary);
    font-size: font-size(h2);

    &:first-child {
      left: $form-select-icon-margin;
    }

    &:last-child {
      right: $form-select-icon-margin;
    }
  }
}
