$badge-padding: 0.2rem 0.6rem;
$badge-radius: 2rem;
$badge-icon-size: 6px;
$badge-icon-border: 2px solid var(--hdd-color-white);

.hdd-badge {
  // .is-p-small is font-properties, defined in typography.
  @include standard-text-small;
  // Colors available for badge
  @include color-modifiers(('primary', 'warn', 'danger', 'safe'), 'background', 'color');

  padding: $badge-padding;
  border-width: 0;
  border-radius: $badge-radius;

  // Default colors
  background: var(--hdd-color-danger);
  color: var(--hdd-color-contrast-danger);

  &-icon {
    // Colors available for badge-icon
    @include color-modifiers(('primary', 'warn', 'danger', 'safe'), 'background', 'color');
    
    position: absolute;
    top: calc(#{$badge-icon-size}/-2);
    right: calc(#{$badge-icon-size}/-2);

    width: $badge-icon-size;
    height: $badge-icon-size;

    border: $badge-icon-border;
    border-radius: 100%;

    // Default colors
    background: var(--hdd-color-danger);
  }
}
