.hdd-badge {
  // .is-p-small is font-properties, defined in typography.
  @extend .is-p-small;
  // Colors available for badge
  @include color-modifiers(('primary', 'warn', 'danger', 'safe'), 'background', 'color');

  padding: $badge-padding;
  border-width: 0;
  border-radius: $badge-radius;

  // Default colors
  background: var(--hdd-danger);
  color: var(--hdd-contrast-danger);

  &-icon {
    // Colors available for badge-icon
    @include color-modifiers(('primary', 'warn', 'danger', 'safe'), 'background', 'color');
    
    position: absolute;
    top: calc(#{$badge-icon-size}/-2);
    right: calc(#{$badge-icon-size}/-2);

    width: $badge-icon-size;
    height: $badge-icon-size;

    border: $badge-icon-border;
    border-radius: 100%;

    // Default colors
    background: var(--hdd-danger);
    color: var(--hdd-contrast-danger);
  }
}
