$badge-padding: 5px 10px;
$badge-radius: 20px;
$badge-font-size: 0.75rem;

.hdd-badge {
  // Colors available for badge
  @include color-modifiers($all-colors, 'background', 'color');

  padding: $badge-padding;
  border-width: 0;
  border-radius: $badge-radius;
  font-size: $badge-font-size;
  font-weight: bold;

  // Default colors
  background: var(--hdd-color-danger);
  color: var(--hdd-color-contrast-danger);
}
