.hdd-badge {
  @extend .background-colors.is-signal-red; // <- default color
  @extend .background-colors;
  @extend .is-p-small;

  border-width: 0;
  padding: $badge-padding;
  border-radius: $badge-radius;

  &-icon {
    width: $badge-icon-size;
    height: $badge-icon-size;
    background: color(signal-red);

    position: absolute;
    border-radius: 100%;
    top: calc(#{$badge-icon-size}/-2);
    right: calc(#{$badge-icon-size}/-2);
    border: $badge-icon-border;
  }
}
