body {
  background: var(--hdd-grey-background);
}

*::selection {
  background: var(--hdd-background-accent-color);
  color: var(--hdd-color-white);
}

*:focus {
  outline-color: var(--hdd-background-marker);
}