body {
  background: var(--hdd-color-dynamic-grey-background);
}

*::selection {
  background: var(--hdd-color-dynamic-marker-color);
  color: var(--hdd-color-white);
}

*:focus {
  outline-color: var(--hdd-color-dynamic-outline-line);
}