@import '../variables/main';
@import '../frameworks/helpers';
@import '../frameworks/colors';
@import '../frameworks/typography';

.hdd-button {
  @extend .background-colors;
  @extend .background-colors.is-primary;
  @extend .is-p;

  @include transition((background-color $short-animation-duration, color $short-animation-duration));

  padding: $button-padding;
  border: $button-solid-border-width solid;
  border-radius: $button-radius;
  display: inline-block;
  cursor: pointer;


  &-small {
    @extend .hdd-button;
    @extend .is-p-small;

    padding: 0 16px;
    height: 34px;
  }

  &-icon {
    background-color: color(white);
    border: 1px solid color(grey);
    border-radius: 2px;
    padding: .4rem .9rem;
    cursor: pointer;

    i, svg {
      color: color(grey-dark);
    }

    &:focus, &:hover {
      background-color: color(grey);
      outline: none;
    }

    &:active {
      background-color: color(grey-dark);
    }
  }

  &.no-background {
    @extend .background-colors.remove-text-contrast;
    background: none;
    border-width: $button-outlined-border-width;

    &:focus, &:hover {
      background-color: color(blue);
      color: color(white);
    }
  }

  &.has-shadow {
    @include box-shadow($shadow-strong);
  }

  &.has-icon-right {
    svg, i {
      margin-left: $button-icon-spacing;
    }
  }

  &.has-icon-left {
    svg, i {
      margin-right: $button-icon-spacing;
    }
  }

  &.is-full-width {
    width: 100%;
  }

  &:focus,
  &:hover {
    outline: none;
  }

  &:hover,
  &:focus,
  &:active:focus,
  &.is-hover {
    background: color(blue-dark);
  }

  &[disabled] {
    cursor: default;
    background: color(grey);
    color: color(grey-dark);
    border-width: 0;
  }
}
