@import '../variables/main';

.hdd-button {
  $b: #{&};

  @extend .background-colors.is-primary;
  @extend .background-colors;
  @extend .is-p;

  @include transition((background-color $short-transition $transition-cubic, color $short-transition $transition-cubic));

  display: inline-block;
  padding: $button-padding;
  border-width: $button-solid-border-width;
  border-radius: $button-radius;
  outline: none;
  cursor: pointer;

  &.is-block {
    display: block;
  }

  &:focus,
  &:hover {
    &:not(.no-hover):not([disabled]):not(.no-background) {
      // Set the default text contrast color to is-primary
      @extend .background-colors.remove-text-contrast.is-primary;
      @extend .background-colors.remove-text-contrast;

      background: none;
    }
  }

  &[disabled] {
    border-width: 0;
    border-color: color('grey');
    background: color('grey');
    color: color('grey-dark');
    cursor: not-allowed;
  }


  &-small {
    @extend .hdd-button;
    @extend .is-p-small;

    padding: $button-padding-small;
  }

  &-icon {
    $e: #{&};

    @extend .background-colors.is-grey;
    @extend .background-colors;

    padding: .4rem .9rem;
    border-width: 1px;
    border-radius: 2px;

    background: color('white');
    cursor: pointer;

    &:focus,
    &:hover,
    &:active {
      &:not(.no-hover) {
        @extend .background-colors.remove-text-contrast;
        background: color('grey-light');
      }
    }

    &.is-active {
      @extend #{$e}:hover;
    }

    &.is-transparent {
      @extend .background-colors.remove-text-contrast;

      margin: 0;
      padding: 0;

      border: none;
      background: none;
      cursor: pointer;

      &:focus,
      &:hover,
      &:active {
        &:not(.no-hover) {
          @extend .background-colors.remove-text-contrast.is-primary; // default color
          @extend .background-colors.remove-text-contrast;
          outline: none;
        }
      }
    }
  }

  &.no-background {
    border-width: $button-outlined-border-width;

    &:not([disabled]) {
      // Set the default text contrast color to is-primary
      @extend .background-colors.remove-text-contrast.is-primary;
      @extend .background-colors.remove-text-contrast;
    }

    // If not hovering remove background (otherwise can we not set the active color as background)
    &:not(:hover):not(:focus) {
      background: none;
    }

    &:focus,
    &:hover {
      &:not(.no-hover):not([disabled]) {
        @extend .background-colors.set-text-contrast;

        &[disabled] {
          color: color('white');
        }
      }
    }
  }

  &.is-active {
    @extend #{$b}:hover;
  }

  &.has-shadow {
    @include box-shadow($shadow-strong);
  }

  &.has-icon {
    display: inline-flex;
    justify-content: space-between;

    padding-right: $button-padding-icon;
    padding-left: $button-padding-icon;

    &.is-left {
      i {
        margin-right: .5rem;
      }
    }

    &.is-right {
      i {
        margin-left: .5rem;
      }
    }
  }

  &.is-full-width {
    flex-grow: 1;
    width: 100%;
  }
}
