 $button-radius: $border-radius;

 $button-padding: 0.625rem 1rem;
 $button-padding-secondary: 0.563rem 1rem;
 $button-padding-icon: 0.563rem 1rem;
 $button-icon-padding: 0.438rem 0.563rem;

.hdd-button {
  // .is-p is font-properties, defined in typography.
  @extend .is-p;
  // .is-primary is the default for any hdd-button
  @extend .is-primary;

  &[disabled] {
    cursor: not-allowed;
  }

  &.is-primary {
    display: inline-block;
    padding: $button-padding;
    border-radius: $button-radius;

    outline-color: var(--hdd-blue-light1);
    background: var(--hdd-primary);
    color: var(--hdd-white);
    cursor: pointer;

    &[disabled] {
      background: var(--hdd-grey);
      color: var(--hdd-white);
    }

    // Changes button-text on hover/active/focus
    &:not([disabled]) {
      &:focus:not(.no-focus),
      &.is-focusing {
        background: var(--hdd-blue-dark);
      }
  
      &:hover:not(.no-hover),
      &.is-hovering {
        background: var(--hdd-blue-dark);
      }
  
      &:active:not(.no-active),
      &.is-active {
        background: var(--hdd-blue-dark);
      }
    }
  }

  &.is-secondary {
    border-color: var(--hdd-primary);
    background: transparent;
    color: var(--hdd-primary);

    &[disabled] {
      border-color: var(--hdd-grey);
      color: var(--hdd-grey);
    }

    // Changes button-text on hover/active/focus
    &:not([disabled]) {
      &:hover:not(.no-hover),
      &.is-hovering {
        background: var(--hdd-primary);
        color: var(--hdd-white);
      }

      &:active:not(.no-active),
      &.is-active,
      &:focus:not(.no-focus),
      &.is-focusing {
        background: var(--hdd-blue-dark);
        color: var(--hdd-white);
      }
    }

    // Changes spinner-color on hover/active/focus
    &.is-loading::after {
      color: var(--hdd-primary) !important;
    }
    
    &:hover:not(.no-hover),
    &.is-hovering,
    &:active:not(.no-active),
    &.is-active,
    &:focus:not(.no-focus),
    &.is-focusing {
      &.is-loading::after {
        color: var(--hdd-white) !important;
      }
    }
  }

  // When button with text has icon
  &.has-icon {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    padding-right: $button-padding-icon;
    padding-left: $button-padding-icon;
    
    i {
      margin-right: 0.5rem;
    }
  }

  // When button is loading
  &.is-loading {
    // Adds icon from font awesome to content
    @extend .fa-spinner-third;
    // .fal is icon-properties
    @extend .fal;
    // .is-p is font-properties,  defined in typography.
    @extend .is-p;

    color: transparent !important;

    &::after {
      // Should find a better solution
      // @extend .fa-spinner-third, ::before; <---  this does not work in mdm-ui
      font-family: "Font Awesome 5 Pro";
      font-weight: 300;
      content: "\F3F4"; // fa-spinner-third

      @include animation(spinner, 0.5s, infinite, linear);
      // .fal is icon-properties
      @extend .fal;

      position: absolute !important;
      top: calc(50% - (1em / 2));
      left: calc(50% - (1em / 2));

      color: var(--hdd-white);
      font-size: 1em;
    }
  }

  // Buttons with icons only
  &-icon {
    border-color: var(--hdd-primary);
    color: var(--hdd-primary);
    border-radius: $button-radius;
    background: transparent;
    height: 2.25rem;
    width: 2.25rem;
    padding: 0;
    font-size: 1.375rem;
    cursor: pointer;

    i {
      width: 1.375rem;
      height: 1.375rem;
    }

    &[disabled] {
      border-color: var(--hdd-grey);
      color: var(--hdd-grey);
    }

    &:not([disabled]) {
      &:hover:not(.no-hover),
      &.is-hovering {
        border-color: var(--hdd-blue);
        background: var(--hdd-blue);
        color: var(--hdd-white);
      }

      &:focus:not(.no-focus),
      &.is-focusing,
      &:active:not(.no-active),
      &.is-active {
        border-color: var(--hdd-blue-dark);
        background: var(--hdd-blue-dark);
        color: var(--hdd-white);
      }
    }

    &.is-transparent {
      padding: $button-icon-padding + 0.063rem; // 1 px for missing border
      border: none;
      background: none;
      cursor: pointer;

      &:focus:not(.no-focus),
      .is-focusing,
      &:hover:not(.no-hover),
      .is-hovering {
        background: none;
        color: var(--hdd-primary);
      }

      &:active:not(.no-active),
      .is-active {
        background: none;
        color: var(--hdd-primary);
      }
    }
  }
}
