$button-radius: $border-radius;
$button-border-width: 1px;
$button-padding: 10px 16px;
$border-button-padding: (10px - $button-border-width) (16px - $button-border-width); // Subtract $button-border-width to match primary button size 
$icon-button-height: 36px;
$icon-button-icon-size: 22px;

// Ripple effect

@mixin ripple {
  display: inline-block;
  position: relative;
  overflow: hidden;

  &::before {
    display: none;
    content: "";
    position: absolute;
    border-radius: 50%;
    background-color: var(--hdd-color-blue-light1);
    width: 30px;
    height: 30px;
    z-index: 1;
    margin-top: -15px;
    margin-left: -15px;
    top: 50%;
    left: 50%;
    animation: ripple 1s cubic-bezier(0.3, 0.65, 0.47, 0.87);
    opacity: 0;
  }

  @keyframes ripple {
    from {
      opacity: 0.5;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(10);
    }
  }

  &:not([disabled]){
    &:focus:not(:active)::before {
      display: block;
    }
  }
}

.hdd-button {
  // .is-p is font-properties, defined in typography.
  @extend .is-p;
  // .is-primary is the default for any hdd-button
  @extend .is-primary;

  &.is-primary {
    @include ripple;
    display: inline-block;
    border: none;
    padding: $button-padding;
    letter-spacing: 0.5px;
    border-radius: $button-radius;
    background: var(--hdd-color-primary);
    color: var(--hdd-color-white);
    cursor: pointer;

    &[disabled] {
      background: var(--hdd-color-grey);
      color: var(--hdd-color-white);
      cursor: not-allowed;
    }

    // Changes button-text on hover/active/focus
    &:not([disabled]) {
      &:hover,
      &:focus,
      &:active {
        background: var(--hdd-color-blue-dark);
      }
    }
  }

  &.is-secondary {
    border: $button-border-width solid var(--hdd-color-primary);
    padding: $border-button-padding;
    background: transparent;
    color: var(--hdd-color-primary);

    &[disabled] {
      border: $button-border-width solid var(--hdd-color-grey);
      color: var(--hdd-color-grey);
    }

    // Changes button-text on hover/active/focus
    &:not([disabled]) {
      &:hover {
        background: var(--hdd-color-primary);
        color: var(--hdd-color-white);
      }

      &:active,
      &:focus {
        background: var(--hdd-color-blue-dark);
        color: var(--hdd-color-white);
      }
    }

    // Changes spinner-color on hover/active/focus
    &.is-loading::after {
      color: var(--hdd-color-primary) !important;
    }
    
    &:hover,
    &:active,
    &:focus {
      &.is-loading::after {
        color: var(--hdd-color-white) !important;
      }
    }
  }

  // When button with text has icon
  &.has-icon {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    
    i {
      padding-right: 9px;
    }
  }

  // When button is loading
  &.is-loading {
    // Adds icon from font awesome to content
    @extend .fa-spinner-third;
    // .fal is icon-properties
    @extend .fal;
    // .is-p is font-properties,  defined in typography.
    @extend .is-p;

    color: transparent !important;
    font-size: 16px; // Makes button same size as rest

    &::after {
      // Should find a better solution
      // @extend .fa-spinner-third, ::before; <---  this does not work in mdm-ui
      font-family: "Font Awesome 5 Pro";
      font-weight: 300;
      content: "\F3F4"; // fa-spinner-third

      @include animation(spinner, 0.5s, infinite, linear);
      // .fal is icon-properties
      @extend .fal;

      position: absolute !important;
      top: calc(50% - (1em / 2));
      left: calc(50% - (1em / 2));

      color: var(--hdd-color-white);
      font-size: 1em;
    }
  }

  // Buttons with icons only
  &-icon {
    @include ripple;
    border: $button-border-width solid var(--hdd-color-primary);
    color: var(--hdd-color-primary);
    border-radius: $button-radius;
    background: transparent;
    height: $icon-button-height - $button-border-width; // Subtract $button-border-width to match primary button size 
    width: $icon-button-height - $button-border-width; // Subtract $button-border-width to match primary button size
    font-size: $icon-button-icon-size;
    cursor: pointer;
    padding: 0;

    &[disabled] {
      border-color: var(--hdd-color-grey);
      color: var(--hdd-color-grey);
      cursor: not-allowed;
    }

    &:not([disabled]) {
      &:hover {
        background: var(--hdd-color-blue);
        color: var(--hdd-color-white);
      }

      &:focus,
      &:active {
        background: var(--hdd-color-blue-dark);
        color: var(--hdd-color-white);
      }
    }

    &.is-transparent {
      border: none;
      background: none;

      &:focus,
      &:active,
      &:hover {
        background: none;
        color: var(--hdd-color-primary);
      }
    }

    &.is-no-padding {
      height: unset;
      width: unset;
    }
  }
}

