@import '../variables/main';

.hdd-card {
  @include box-sizing(border-box);
  @include box-shadow($shadow-light);
  @include border-radius($card-radius);

  background: color(white);
  padding: $card-padding;
  display: flex;
  flex-direction: column;

  &.is-full-height {
    height: 100%;
  }

  &_header {
    margin-bottom: $card-header-margin;
    display: flex;

    &_icon {
      @extend .is-icon-small;

      color: color(blue);
      margin-right: $card-header-icon-margin;
      display: inline-block;
      vertical-align: top;
      line-height: $card-header-icon-height;
    }

    &_text {
      flex: 1;
      display: block;
    }

    &_action {
      @extend .is-icon-small;
      @extend .hdd-button-icon.is-transparent;
    }

    .is-center {
      text-align: center;
    }
  }

  &_title {
    display: block;
    font-weight: bold;
    text-align: left;
  }

  &_subtitle {
    display: block;
    color: $font-color;
  }

  &_content {
    display: block;
  }

  &_actions {
    margin-top: auto; /* Align buttons always to the bottom of the card */
    padding-top: $card-content-padding;
    display: flex;

    button:not(:last-child) {
      margin-right: $card-action-button-spacing;
    }

    &.is-filling {
      > * {
        flex-grow: 1;
      }
    }
  }
}
