@import '../variables/main';

.hdd-card {
  @include box-sizing(border-box);
  @include box-shadow($shadow-light);

  background: color(white);
  padding: $card-padding;

  &_header {
    position: relative;
    margin-bottom: $card-header-margin;

    &_icon {
      @extend .is-icon-small;

      color: color(blue);
      margin-right: $card-header-icon-margin;
      display: inline-block;
      vertical-align: top;
    }

    &_text {
      display: inline-block;
    }

    &_action {
      @extend .is-icon-small;

      position: absolute;
      right: 0;
      top: 0;
    }

    .is-center {
      text-align: center;
    }
  }

  &_title {
    font-weight: bold;
  }

  &_subtitle {
    color: $font-color;
  }

  &_content {
    margin-bottom: $card-content-margin;
  }

  &_actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    button:not(:last-child) {
      margin-right: $card-action-button-spacing;
    }
  }
}
