$card-radius: $border-radius;
$card-padding-y: 1.375rem;
$card-padding-x: 1.375rem;
$card-header-icon-height: 28px;
$card-header-icon-margin: 8px;
$card-header-action-icon-size: 24px;
$card-actions-action-padding: 13px 0;
$card-actions-button-spacing: 25px;

.hdd-card {
  border-radius: $card-radius;
  box-shadow: $shadow-light;
  box-sizing: border-box;
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  background: var(--hdd-color-white);

  &.is-full-height {
    height: 100%;
  }

  &_header {
    display: flex;
    padding: $card-padding-y $card-padding-x;

    &_icon {
      // .is-icon-small is icon-properties, defined in typography.
      @extend .is-icon-small;

      display: inline-flex;
      align-self: center;
      margin-right: $card-header-icon-margin;
      color: var(--hdd-color-blue);
      line-height: $card-header-icon-height;
      vertical-align: top;
    }

    &_text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: center;
      width: 100%;
    }

    &_action {
      // .is-icon-small is icon-properties, defined in typography.
      @extend .is-icon-small;
      // .is-button-icon and .is-transparent is icon-properties, defined in button.
      @extend .hdd-button-icon, .is-transparent
    }

    .is-center {
      display: flex;
      justify-content: center;
    }
  }

  &_title {
    // .is-h2 is font-properties, defined in typography.
    @extend .is-h2;

    display: flex;
    height: 100%;
    font-weight: bold;
  }

  &_subtitle {
    @include standard-text;

    display: block;
    color: var(--hdd-color-font-color);
  }

  &_scroll-wrapper {	
    overflow-x: auto;	
  }

  &_content {
    // .is-p is font-properties, defined in typography.
    @include standard-text;

    display: block;
    margin-bottom: $card-padding-y;
    padding: 0 $card-padding-x;
  }

  &_actions {
    display: flex;
    margin-top: auto; /* Align buttons always to the bottom of the card */
    padding: $card-padding-y $card-padding-x;

    .hdd-button {
      flex: auto;
      
      &:not(:last-child) {
        margin-right: $card-actions-button-spacing;
      }
    }
    
    &_action {
      // .is-p is font-properties, defined in typography.
      @include standard-text;
      
      flex-grow: 1;
      margin: calc(#{$card-padding-y} * -1) calc(#{$card-padding-x} * -1);
      padding: $card-actions-action-padding;
      border: 0;
      border-top: 1px solid var(--hdd-color-grey-light);
      border-radius: 0;
      background: transparent;

      color: var(--hdd-color-primary);
      font-weight: 500;
      text-align: center;
      cursor: pointer;
      
      &:hover:not(.no-hover),
      &.is-hovering {
        background-color: var(--hdd-color-blue-light3);
      }
    }
  }
}
