@import '../variables/main';

.hdd-card {
  @include box-sizing(border-box);
  @include box-shadow($shadow-light);

  background: color(white);
  padding: $card-padding;

  &_header {
    margin-bottom: $card-header-margin;
    display: flex;

    &_icon {
      @extend .is-icon-small;

      color: color(blue);
      margin-right: $card-header-icon-margin;
      display: inline-block;
      vertical-align: top;
      line-height: $card-header-icon-height;
    }

    &_text {
      flex: 1;
    }

    &_action {
      @extend .is-icon-small;
      @extend .hdd-button-icon.is-transparent;
      width: $card-header-action-icon-size;
      height: $card-header-action-icon-size;
    }

    .is-center {
      text-align: center;
    }
  }

  &_title {
    font-weight: bold;
  }

  &_subtitle {
    color: $font-color;
  }

  &_content {
    margin-bottom: $card-content-margin;
  }

  &_actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    button:not(:last-child) {
      margin-right: $card-action-button-spacing;
    }

    &.is-filling {
      > * {
        flex-grow: 1;
      }
    }
  }
}
