@import '../variables/main';
@import 'button';

.hdd-card {
  @include box-sizing(border-box);
  @include box-shadow($shadow-light);
  @include border-radius($card-radius);

  display: flex;
  flex-direction: column;
  margin-bottom: $card-margin-bottom;
  background: color('white');

  &.is-full-height {
    height: 100%;
  }

  &_header {
    display: flex;
    padding: $card-padding-y $card-padding-x;

    &_icon {
      @extend .is-icon-small;

      display: inline-block;
      margin-right: $card-header-icon-margin;
      color: color('blue');
      line-height: $card-header-icon-height;
      vertical-align: top;
    }

    &_text {
      display: block;
      flex: 1;
    }

    &_action {
      @extend .is-icon-small;
      @extend .hdd-button-icon.is-transparent;
    }

    .is-center {
      text-align: center;
    }
  }

  &_title {
    @extend .is-h2;

    display: block;
    font-weight: bold;
    text-align: left;
  }

  &_subtitle {
    @extend .is-p;

    display: block;
    color: color('font-color');
  }

  &_scroll-wrapper {
    overflow-x: scroll;
  }

  &_content {
    @extend .is-p;

    display: block;
    margin-bottom: $card-padding-y;
    padding: 0 $card-padding-x;
  }

  &_actions {
    display: flex;
    margin-top: auto; /* Align buttons always to the bottom of the card */
    padding: $card-padding-y $card-padding-x;

    .hdd-button {
      flex: auto;
      
      &:not(:last-child) {
        margin-right: $card-actions-button-spacing;
      }
    }
    
    &_action {
      @extend .is-p;
      
      flex-grow: 1;
      margin: calc(#{$card-padding-y} * -1) calc(#{$card-padding-x} * -1);
      padding: $card-actions-action-padding;
      border: 0;
      border-top: 1px solid color('grey-light');
      border-radius: 0;
      background: transparent;

      color: color('blue-light1');
      font-weight: 500;
      text-align: center;
      cursor: pointer;

      &:hover:not(.no-hover),
      &.is-hovering {
        background-color: color('blue-light3');
      }
    }
  }
}
