.hdd-datepicker {
  position: relative;

  &_container {
    @extend .is-p;

    display: inline-table;
    z-index: 90;
    box-sizing: border-box;
    max-width: $datepicker-max-width;
    padding: $datepicker-padding;

    border: $datepicker-border;
    border-radius: $datepicker-border-radius;

    background: color('white');
    color: color('primary');

    text-align: left;

    &:not(.is-inline) {
      display: none;
      position: absolute;
      z-index: 90;

      top: calc(100% + #{$datepicker-tip-size} + #{$datepicker-offset});
      right: 0;
      left: 50%;

      margin: auto;
      transform: translateX(-50%);

      &::before {
        content: '';
        display: block;
        position: absolute;

        top: -#{$datepicker-tip-size * 2};
        right: 0;
        left: 0;

        width: 0;
        height: 0;

        margin: auto;

        border: $datepicker-tip-size solid transparent;
        border-bottom-color: $datepicker-border-color;
      }

      &::after {
        content: '';
        display: block;
        position: absolute;

        top: -#{$datepicker-tip-size * 2 - $datepicker-border-width};
        right: 0;
        left: 0;

        width: 0;
        height: 0;

        margin: auto;

        border: #{$datepicker-tip-size} solid transparent;
        border-bottom-color: color('white');
      }

      &.is-active {
        display: inline-table;
      }

      &.has-arrow-right {
        left: calc(50% + #{$datepicker-tip-left-offset} + #{$datepicker-tip-size});
        transform: translateX(-100%);

        &::before,
        &::after {
          right: $datepicker-tip-right-offset;
          left: auto;
        }
      }

      &.has-arrow-left {
        left: calc(50% - #{$datepicker-tip-left-offset} - #{$datepicker-tip-size});
        transform: translateX(0);

        &::before,
        &::after {
          right: auto;
          left: $datepicker-tip-left-offset;
        }
      }
    }

    &_header {
      display: flex;
      align-items: center;

      &_title {
        flex-grow: 1;
        color: $font-color;
        text-align: center;
      }
    }

    &_week {
      display: flex;
      flex-wrap: wrap;
      padding: .5rem 0;
      color: $font-color;

      > span {
        flex: 1 0 percentage(1 / $datepicker-days-per-week);
        text-align: center;
      }
    }

    &_days {
      $e: #{&};

      display: flex;
      flex-wrap: wrap;

      // TODO: fix corner issue (top left)
      &_day,
      > span {
        display: block;
        position: relative;
        box-sizing: border-box;
        flex: 1 0 percentage(1 / $datepicker-days-per-week);
        padding: .5rem;

        border-width: 0;
        border-style: solid;
        border-color: $datepicker-border-color;
        color: $font-color;

        &:not(:empty) {
          border-top-width: $datepicker-days-border-width;
          border-right-width: $datepicker-days-border-width;

          &:hover {
            @extend #{$e}_day.is-selected;
          }

          &::after {
            content: '';
            position: absolute;

            top: -$datepicker-days-border-width;
            left: -$datepicker-days-border-width;

            width: $datepicker-days-border-width;
            height: calc(100% + #{$datepicker-days-border-width * 2});

            background: $datepicker-border-color;
          }

          // All elements except first element after .is-blank
          ~ :not(:empty) {
            &::after {
              content: none;
            }
          }

          // Every first element + 7 elements gap
          &:nth-child(#{$datepicker-days-per-week}n+1) {
            border-left-width: $datepicker-days-border-width;
          }

          // Last 7 elements
          &:nth-last-child(-n+#{$datepicker-days-per-week}) {
            border-bottom-width: $datepicker-days-border-width;
          }
        }

        &:empty {
          &:nth-last-child(-n+7) {
            border-top-width: $datepicker-days-border-width;
          }
        }

        &::before {
          content: '';
          display: block;
          padding-top: 100%;
          float: left;
        }

        &.is-selected {
          background: color('blue-light1');
          color: color('white');
          cursor: pointer;
        }

        &.is-in-range {
          background: color('blue-light4');
        }

        > span {
          position: absolute;

          top: 50%;
          left: 50%;

          transform: translate(-50%, -50%);
        }
      }
    }
  }
}
