.hdd-dropdown {
  position: relative;

  &_content {
    @extend .is-aligned-bottom;

    display: none;
    position: absolute;

    z-index: 90;
    left: 0;
    min-width: 100%;

    padding: $dropdown-content-padding;
    border: $dropdown-border;
    border-radius: $dropdown-border-radius;

    background: var(--hdd-white);

    // Alignes the dropdown on top of the search field. 
    &.is-aligned-top {
      top: initial;
      // 18px is the overlap that was between the input field and the elements
      bottom: 18px + $dropdown-spacing-element;
    }

    &.is-aligned-bottom {
      top: calc(100% + #{$dropdown-spacing-element});
      bottom: 0;
      margin-bottom: $dropdown-margin;
    }

    &.is-active {
      display: inline-table;
    }

    &_item {
      padding: $dropdown-item-padding;
      cursor: pointer;

      &:hover:not(.no-hover) {
        @extend .is-active;
      }

      &.is-active {
        background: var(--hdd-blue-light4);
      }
    }
  }
}
