.hdd-dropdown {
  position: relative;

  &_content {
    @extend .hdd-dropdown_content ;

    display: none;
    position: absolute;

    z-index: 90;
    left: 0;
    min-width: 100%;

    padding: $dropdown-content-padding;
    border: $dropdown-border;
    border-radius: $dropdown-border-radius;

    background: color('white');

    // Alignement is not used in documentation, migh rework later if there is a need for these attributes. 

    &.is-aligned-top {
      // Still needs work
      top: -100%;
      bottom: 100%;
    }

    &.is-aligned-bottom {
      top: calc(100% + #{$dropdown-spacing-element});
      bottom: 0;
    }

    &.is-active {
      display: inline-table;
    }

    &_item {

      padding: $dropdown-item-padding;
      cursor: pointer;

      &:hover:not(.no-hover) {
        @extend .hdd-dropdown_content_item, .is-active;
      }

      &.is-active {
        background: color('blue-light4');
      }
    }
  }
}
