$feedback-padding: 20px 30px;
$feedback-border-radius: $border-radius;
$feedback-min-width: 260px;
$feedback-icon-size: 24px;
$feedback-icon-gap: 20px;
$feedback-close-button-size: 16px;
$feedback-message-gap: 10px;

.feedback-container {
  // Variable containing '&' to jump to current parent inside a child class.
  $this: &;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: $feedback-min-width;
  padding: $feedback-padding;
  border: none;
  border-radius: $feedback-border-radius;
  // .is-info is the default for any feedback-container
  
  @extend .is-info;
  @extend .is-p;

  &.is-success {
    background: var(--hdd-color-safe);
    
    #{$this}_icon, #{$this}_message, #{$this}_close-button {
      color: var(--hdd-color-contrast-safe);
    }
  }

  &.is-info {
    background: var(--hdd-color-blue-light3);

    #{$this}_icon, #{$this}_message, #{$this}_close-button {
      color: var(--hdd-color-contrast-blue-light3);
    }
  }

  &.is-warn {
    background: var(--hdd-color-warn);

    #{$this}_icon, #{$this}_message, #{$this}_close-button {
      color: var(--hdd-color-contrast-warn);
    }
  }

  &.is-error {
    background: var(--hdd-color-danger);

    #{$this}_icon, #{$this}_message, #{$this}_close-button {
      color: var(--hdd-color-contrast-danger);
    }
  }

  &_icon {
    flex: none;
    margin-right: $feedback-icon-gap;
    font-size: $feedback-icon-size;
  }

  &_message {
    flex: auto;
    margin-right: $feedback-message-gap;
    font-size: font-size('p');
    line-height: 1.125rem;
  }

  &_close-button {
    flex: none;
    width: $feedback-icon-size;
    height: $feedback-icon-size;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font-size: $feedback-close-button-size;
    cursor: pointer;
  }
}