.feedback-container {
  // Variable containing '&' to jump to current parent inside a child class.
  $this: &;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  min-width: $feedback-min-width;
  padding: $feedback-padding;
  border: none;
  border-radius: $feedback-border-radius;
  // .is-info is the default for any feedback-container
  @extend .is-info;

  &.is-success {
    background: var(--hdd-safe);
    
    #{$this}_icon, #{$this}_message, #{$this}_close-button {
      color: var(--hdd-contrast-safe);
    }
  }

  &.is-info {
    background-color: var(--hdd-blue-light3);

    #{$this}_icon, #{$this}_message, #{$this}_close-button {
      color: var(--hdd-contrast-blue-light3);
    }
  }

  &.is-warn {
    background-color: var(--hdd-warn);

    #{$this}_icon, #{$this}_message, #{$this}_close-button {
      color: var(--hdd-contrast-warn);
    }
  }

  &.is-error {
    background-color: var(--hdd-danger);

    #{$this}_icon, #{$this}_message, #{$this}_close-button {
      color: var(--hdd-contrast-danger);
    }
  }

  &_icon {
    flex: none;
    margin-right: $feedback-icon-gap;
    font-size: $feedback-icon-size;
  }

  &_message {
    flex: auto;
    margin-right: $feedback-message-gap;
    font-size: font-size('p');
    line-height: 1.125rem;
  }

  &_close-button {
    flex: none;
    width: $feedback-icon-size;
    height: $feedback-icon-size;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font-size: $feedback-close-button-size;
    cursor: pointer;
  }
}