@import '../variables/main';

.hdd-form {
  /************************
   *  Field
   ************************/
  &_field {
    $e: #{&};
    margin-bottom: 1.25rem;
    position: relative;
    display: block;
    text-align: left;

    &_label {
      @extend .is-p;

      display: inline-block;
      font-weight: bold;
      margin-bottom: .5rem;
    }

    &_title {
      @extend .is-p;
      display: block;
      margin-bottom: 1rem;
    }

    &_error {
      display: none;
      color: color(signal-red);
      font-size: .8rem;
      margin-top: .2rem;
      position: absolute;

      &.is-active {
        display: block;
      }
    }

    &.is-inline {
      display: inline-block;
    }

    &.is-line {
      > * {
        &:not(#{$e}_title):not(#{$e}_error), {
          margin-right: 1rem;
          float: left;
        }
      }
    }
  }

  /************************
   *  Input
   ************************/
  &_input {
    $e: #{&};

    padding: $form-input_padding;
    border-radius: $form-input_border-radius;
    border: $form-input_border;
    box-sizing: border-box;
    background: color(white);
    display: flex;
    align-items: center;

    // Disable focus state if
    &:not(.is-invalid):focus-within:not(.no-focus) {
      @extend #{$e}.is-focus;
    }

    &.has-shadow {
      @include box-shadow($shadow-strong);
    }

    &.is-focus {
      border-color: color(primary);

      #{$e}_icon, svg, i {
        color: color(primary);
      }
    }

    &.is-invalid {
      border-color: color(signal-red);

      input {
        color: color(signal-red);
      }

      i {
        color: color(signal-red);
      }
    }

    &_field, > input {
      @extend .is-p;
      border: none;
      width: 100%;
      font-size: 1rem;
      color: $font-color;
      padding: 0;

      @include placeholder() {
        color: color(grey);
      }
    }

    &_icon, > svg, > i {
      font-size: font-size(h2);
      color: color(grey);

      &:first-child {
        margin-right: $form-input_icon-margin;
      }

      &:last-child {
        margin-left: $form-input_icon-margin;
      }
    }
  }

  /************************
   *  Checkbox
   ************************/
  &_checkbox {
    $e: #{&};
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: .75rem;

    // We have to seperate the checkbox marked styling because of the checked state
    %checkbox_mark.is-checked {
      position: relative;

      &:before {
        @extend .fal, .fa-check:before;
        color: color(primary);
        font-size: .85rem;

        transform: translateX(-50%);
        left: 50%;
      }
    }

    &.is-checked {
      #{$e}_mark {
        @extend %checkbox_mark.is-checked;
      }
    }

    &.is-invalid {
      input:checked ~ #{$e}_mark,
      #{$e}_mark {
        border-color: color(signal-red);

        &:before {
          color: color(signal-red);
        }
      }
    }

    // Need to hide the original checkbox
    input {
      display: none;

      &:checked ~ #{$e}_mark {
        @extend %checkbox_mark.is-checked;
      }
    }

    .hdd-badge {
      margin-left: .5rem;
      float: right;
    }

    &_mark {
      height: $form-checkbox_mark-size;
      width: $form-checkbox_mark-size;
      background: color(white);
      border-radius: $form-checkbox_mark-border-radius;
      border: $form-checkbox_mark-border;
      display: inline-block;
    }

    &_label {
      margin-left: 1rem;
      flex-grow: 1;
    }
  }

  /************************
   *  Select
   ************************/
  &_select {
    $e: #{&};

    position: relative;
    display: flex;
    align-items: center;

    background: color(white);
    border-radius: $form-select_border-radius;
    border: $form-select_border;
    width: 100%;

    select {
      padding: $form-select_padding;

      background: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      flex-grow: 1;
      border: 0;

      &::-ms-expand {
        display: none;
      }
    }

    // Disable focus state if
    &:focus-within:not(.no-focus) {
      @extend #{$e}.is-focus;
    }

    &.has-shadow {
      @include box-shadow($shadow-strong);
    }

    &.is-focus {
      border-color: color(primary);

      select {
        color: color(primary);
      }

      #{$e}_icon, > svg, > i {
        color: color(primary);
      }
    }

    &.is-invalid {
      border-color: color(signal-red);

      select {
        color: color(signal-red);
      }

      i {
        color: color(signal-red);
      }
    }

    &.has-icon {
      select {
        padding-left: calc(#{$form-input_icon-margin} + #{font-size(h2)} + #{$form-input_padding-left});
      }
    }

    &_icon, > svg, > i {
      font-size: font-size(h2);
      color: color(grey);
      position: absolute;

      &:first-child {
        left: $form-select_icon-margin;
      }

      &:last-child {
        right: $form-select_icon-margin;
      }
    }
  }
}
