@import '../variables/main';

.hdd-form {
  &_input {
    $c: #{&};

    &_wrapper {
      padding: 7px 10px;
      border-radius: 3px;
      border: 1px solid color(grey);
      box-sizing: border-box;
      background: color(white);
      display: flex;
      align-items: center;
    }

    svg, i {
      font-size: font-size(p);
      color: color(grey);

      &:first-child {
        margin-right: $form-input-icon-margin;
      }

      &:last-child {
        margin-left: $form-input-icon-margin;
      }
    }

    input {
      @extend .is-p;
      border: none;
      width: 100%;
      font-size: 1rem;
      color: $font-color;

      @include placeholder() {
        color: color(grey);
      }
    }

    &-label {
      display: inline-block;
      font-weight: bold;
      margin-bottom: 10px;
      font-size: 1rem;
    }

    &.is-invalid {
      #{$c}_wrapper {
        border-color: color(signal-red);

        input {
          color: color(signal-red);
        }
      }

      i {
        color: color(signal-red);
      }
    }

    &.is-active {
      #{$c}_wrapper {
        border-color: color(blue);
      }

      i {
        color: color(blue);
      }
    }

    &.has-shadow {
      @include box-shadow($shadow-strong);
    }
  }
}
