@import '../variables/main';

.hdd-form {
  &_field {
    $c: #{&};
    margin-bottom: 1.25rem;
    display: inline-block;
    position: relative;

    &_wrapper {
      padding: 0.7rem .9rem;
      border-radius: 3px;
      border: 1px solid color(grey);
      box-sizing: border-box;
      background: color(white);
      display: flex;
      align-items: center;
    }

    svg, i {
      font-size: font-size(h2);
      color: color(grey);

      &:first-child {
        margin-right: $form-input-icon-margin;
      }

      &:last-child {
        margin-left: $form-input-icon-margin;
      }
    }

    &_label {
      display: inline-block;
      font-weight: bold;
      margin-bottom: 4px;
      font-size: 1rem;
    }

    &_error {
      display: block;
      color: color(signal-red);
      font-size: .8rem;
      margin-top: 4px;
      position: absolute;
    }

    &.is-invalid {
      #{$c}_wrapper {
        border-color: color(signal-red);
      }

      input {
        color: color(signal-red);
      }

      i {
        color: color(signal-red);
      }
    }

    &.is-active {
      #{$c}_wrapper {
        border-color: color(blue);
      }

      i {
        color: color(blue);
      }
    }

    &.has-shadow {
      @include box-shadow($shadow-strong);
    }

    &.is-full-width {
      width: 100%;
    }
  }

  
  &_input,
  &_select {
    @extend .is-p;
    border: none;
    width: 100%;
    font-size: 1rem;
    color: $font-color;
    padding: 0;

    @include placeholder() {
      color: color(grey);
    }
  }
}
