$header-height: 66px;
$header-z-index: 99;
$header-padding: 0 0.5rem;

.hdd-header {
  position: sticky;
  top: 0;
  height: $header-height;
  width: 100%;
  padding: $header-padding;

  background: white;
  box-shadow: $shadow-medium;
  z-index: $header-z-index;

  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;

  padding: 0 var(--hdd-spacing-2);

  &_logo {
    flex: 1 1 0%;
  }
  &_title {
    text-align: center;
    padding: 0px 1rem;
  }
  &-user {
    flex: 1 1 0%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &_name {
      font-size: 1rem;
			letter-spacing: 0.5px;
			color: var(--hdd-color-black);

      // hide when small screen
      display: none;
      @include breakpoint-up(Earth) {
        display: inline-block;
      }
    }

    &_icon-image {
      width: 40px;
      height: 40px;
      margin-right: var(--hdd-spacing-1);
      border-radius: 100%;

      background: var(--hdd-color-grey-light);
      background-position: center;
    }

    &_icon-no-image {
      background-color: var(--hdd-color-blue);
      width: 40px;
      height: 40px;
      margin-right: var(--hdd-spacing-1);
      border-radius: 100%;
			
      display: flex;
      align-items: center;
      justify-content: center;
			
			color: var(--hdd-color-white);
			text-transform: uppercase;
    }
  }
}
