/**
 * It is advised to add the `hdd-layout` block around your project page. 
 * The `hdd-layout` block can help you save space around your content container for elements like sidebars or navigation.
 */

.hdd-layout {
  display: flex;

  &_content {
    flex-grow: 1;
    overflow: hidden;
  }

  &_navigation {
    margin-bottom: 1rem;
  }
}
