.hdd-link {
  // .is-p is font-properties, defined in typography
  @extend .is-p;

  text-decoration: none;
  color: var(--hdd-color-blue);

  &:hover:not(.no-hover),
  &.is-hovering,
  &:focus:not(.no-focus),
  &.is-focusing {
    text-decoration: underline;
  }
  &:active:not(.no-active),
  &.is-active {
    color: var(--hdd-color-blue-dark);
    text-decoration: underline;
  }
}
