.hdd-link {
  @extend .is-p;

  text-decoration: none;
  color: var(--hdd-color-blue);

  &:hover:not(.no-hover),
  &.is-hovering,
  &:focus:not(.no-focus),
  &.is-focusing,
  &:active:not(.no-active),
  &.is-active {
    text-decoration: underline;
    cursor: pointer;
  }
}
