.hdd-link {
  // .is-p is font-properties, defined in typography
  @extend .is-p;

  text-decoration: none;
  color: var(--hdd-link-color);

  &:hover:not(.no-hover),
  &.is-hovering,
  &:focus:not(.no-focus),
  &.is-focusing,
  &:active:not(.no-active),
  &.is-active {
    text-decoration: underline;
    cursor: pointer;
  }
}
