.hdd-navigation {

  box-shadow: $shadow-medium;
  display: flex;
  z-index: $navigation-z-index;
  box-sizing: border-box;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: $navigation-height;
  padding: $navigation-padding;
  background: color('white');

  // Setting the class at the root element of layout component, check layout.md for more info. 
  @at-root {
    .hdd-layout_navigation {
      height: $navigation-height;
    }
  }

  &_logo {
    min-width: 45px;
  }

  &_title {
    position: absolute;	
    right: 0;	
    left: 0;
    align-self: center;
    margin: auto;
    max-width: 50%;
    text-align: center;
  }

  &_user {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &_avatar {
    width: #{$navigation-height * $navigation-avatar-size};
    height: #{$navigation-height * $navigation-avatar-size};

    margin-left: .5rem;
    border-radius: 100%;

    background: color('grey-light');
    background-position: center;
  }
}
