$notification-dot-size: 0.375rem;
$notification-dot-border: 2px solid var(--hdd-color-white);

.hdd-notification-dot {
  position: absolute;
  top: calc(#{$notification-dot-size}/ -2);
  right: calc(#{$notification-dot-size}/ -2);

  box-sizing: content-box;

  width: $notification-dot-size;
  height: $notification-dot-size;

  border: $notification-dot-border;
  border-radius: 100%;

  // Default colors
  background: var(--hdd-color-danger);
}
