@import '../variables/main';

.hdd-sidenav {
  $c: #{&};

  @include box-shadow($shadow-light);
  @include transition(width $medium-transition $transition-cubic);

  position: fixed;
  width: $sidenav-collapsed-width;
  height: 100%;
  z-index: $sidenav-z-index;
  overflow: hidden;
  background: color(white);

  &.is-active {
    width: $sidenav-extended-width;

    #{$c}_list {
      &_item {
        &_label {
          opacity: 1;
          margin-left: 0px;
        }
      }
    }
  }

  &:hover {
    &:not(.no-hover) {
      @extend #{$c}.is-active;
    }
  }

  @at-root {
    .hdd-layout_sidenav {
      min-width: $sidenav-collapsed-width;
    }
  }

  &_logo {
    width: 45px;
    height: 45px;
    padding: 10px;
    display: block;
  }

  &_list {
    &_item {
      $c: #{&};
      @include transition(all $short-transition $transition-cubic);

      background: color(white);
      width: $sidenav-extended-width;
      display: flex;
      align-items: center;

      &:hover,
      &.is-active {
        background: color(blue-light1);

        #{$c}_icon,
        #{$c}_label {
          color: color(white);
        }
      }

      &_icon {
        width: $sidenav-collapsed-width;
        height: $sidenav-collapsed-width;

        color: color(grey);
        font-size: font-size(icon-small);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      &_label {
        @include transition(all $short-transition $transition-cubic);
        @extend .is-h2;

        color: color(grey);
        flex-grow: 1;
        padding-right: 1.5rem;

        opacity: 0;
        margin-left: -10px;
      }

      .hdd-badge {
        float: right;
      }
    }
  }
}
