$sidenav-extended-width: 300px;
$sidenav-z-index: 90;

.hdd-sidenav {
  // Variable containing '&' to jump to current parent inside a child class.  
  $this: &;

  transition: width $medium-transition $transition-cubic;

  box-shadow: $shadow-light;
  position: fixed;
  z-index: $sidenav-z-index;
  width: $sidenav-collapsed-width;
  height: 100%;
  overflow: hidden;
  background: var(--hdd-color-white);

  &.is-active {
    width: $sidenav-extended-width;

    #{$this}_list {
      &_item {
        &_label {
          margin-left: 0;
          opacity: 1;
        }
      }
    }
  }

  &:hover {
    // Extends the the sidenav style only if the "no-hover" class is not applied.
    &:not(.no-hover) {
      @extend .hdd-sidenav, .is-active;
    }
  }
  
  @at-root {
    .hdd-layout_sidenav {
      min-width: $sidenav-collapsed-width;
    }
  }

  &_logo {
    display: block;
    width: 45px;
    height: 45px;
    padding: 10px;
  }

  &_list {
    &_item {
      // Variable containing '&' to jump to current parent inside a child class. 
      $this: &;
      transition: all $short-transition $transition-cubic;

      display: flex;
      align-items: center;
      width: $sidenav-extended-width;
      background: var(--hdd-color-white);

      &:hover,
      &.is-active {
        background: var(--hdd-color-blue-light1);

        #{$this}_icon,
        #{$this}_label {
          color: var(--hdd-color-white);
        }
      }

      &_icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: $sidenav-collapsed-width;
        height: $sidenav-collapsed-width;

        color: var(--hdd-color-grey);
        font-size: font-size(icon-small);
      }

      &_label {
        @extend .is-h2;
        transition: all $short-transition $transition-cubic;

        flex-grow: 1;
        margin-left: -10px;
        padding-right: 1.5rem;
        opacity: 0;

        color: var(--hdd-color-grey);
      }

      .hdd-badge {
        float: right;
      }
    }
  }
}
