.hdd-small-menu {
  // Variable containing '&' to jump to current parent inside a child class.   
  $this: &;

  display: inline-block;
  position: relative;

  &:hover {
    #{$this}_content:not(.no-hover):not(:hover) {
      @extend .hdd-small-menu_list, .is-active;
    }
  }

  &:focus {
    #{$this}_content:not(.no-focus) {
      @extend .hdd-small-menu_list, .is-active;
    }
  }

  &_title {
    cursor: pointer;
  }

  &_list {
    filter: drop-shadow($shadow-light);
    
    box-shadow: $shadow-light;
    display: table;
    visibility: hidden;
    
    position: absolute;
    z-index: 90;
    
    top: calc(100% + 5px);
    right: 0;
    left: 50%;
    
    box-sizing: border-box;
    min-width: $small-menu-width;
    
    transform: translateX(-50%);
    transition: opacity $medium-transition $transition-cubic, visibility $medium-transition $transition-cubic;
    border-radius: $small-menu-border-radius;
    
    opacity: 0;
    background: color('white');
    color: color('primary');

    &.is-active {
      visibility: visible;
      opacity: 1;
    }

    &_item {
      display: flex;
      box-sizing: border-box;
      align-items: center;
      width: 100%;
      padding: $small-menu-menu-padding;
      list-style-type: none;
      font-weight: 500;
      white-space: nowrap;
      cursor: pointer;

      &_icon,
      > i,
      > svg {
        width: 1rem;
        margin-right: .5rem;
      }
  
      &:not(.no-hover):hover {
        @extend .hdd-small-menu_list_item, .is-active;
      }
      
      &.is-active {
        background: color('blue-light3');
      }

      // Overflow fix since we cannot use overflow hidden
      &:first-child {
        border-radius: $small-menu-border-radius $small-menu-border-radius 0 0;
      }

      &:last-child {
        border-radius: 0 0 $small-menu-border-radius $small-menu-border-radius;
      }
    }
  }
}
