.hdd-small-menu {
  $b: #{&};

  position: relative;

  &:hover {
    #{$b}_content:not(.no-hover):not(:hover) {
      @extend #{$b}_content.is-active;
    }
  }

  &:focus {
    #{$b}_content:not(.no-focus) {
      @extend #{$b}_content.is-active;
    }
  }

  &_content {
    @extend .is-p;
    @include filter(drop-shadow($shadow-medium));
    @include box-shadow($shadow-medium); // IE fallback?

    display: none;

    position: absolute;
    z-index: 90;

    top: calc(100% + #{$small-menu-tip-size});
    right: 0;
    left: 50%;

    box-sizing: border-box;
    min-width: $small-menu-width;

    margin: auto;
    padding: $small-menu-padding;

    transform: translateX(-50%);
    border-radius: $small-menu-border-radius;
    background: color('white');
    color: color('primary');
    text-align: left;

    &.is-active {
      display: table;
    }

    &.is-center {
      text-align: center;
    }

    &.has-arrow-center {
      left:0;
      right: 0;

      &::before {
        @include arrow();
      }
    }

    &.has-arrow-right {
      left: calc(50% + #{$small-menu-tip-left-offset} + #{$small-menu-tip-size});
      transform: translateX(-100%);

      &::before {
        @include arrow();
        right: $small-menu-tip-right-offset;
        left: auto;
      }
    }

    &.has-arrow-left {
      left: calc(50% - #{$small-menu-tip-left-offset} - #{$small-menu-tip-size});
      transform: translateX(0);

      &::before {
        @include arrow();
        right: auto;
        left: $small-menu-tip-left-offset;
      }
    }
  }

  &_title {
    cursor: pointer;
  }

  &_list {
    @extend #{$b}_content;
    padding: 0;

    &_item {
      $e: #{&};
      list-style-type: none;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      width: 100%;
      padding: $small-menu-menu-padding;
      white-space: nowrap;
      cursor: pointer;

      &_icon,
      > i,
      > svg {
        width: 1rem;
        margin-right: .5rem;
      }

      &:not(.no-hover):hover {
        @extend #{$e}.is-active;
      }

      &.is-active {
        background: color('blue-light3');
      }

      // Overflow fix since we cannot use overflow hidden
      &:first-child {
        padding-top: $small-menu-menu-side-padding;
        border-radius: $small-menu-border-radius $small-menu-border-radius 0 0;
      }

      &:last-child {
        padding-bottom: $small-menu-menu-side-padding;
        border-radius: 0 0 $small-menu-border-radius $small-menu-border-radius;
      }
    }
  }
}
