.hdd-tags {
  position: relative;
  margin-top: .5rem;

  &_icon,
  svg,
  i {
    display: inline-block;
    margin: 0;
    margin-left: $tag-icon-spacing;
    padding: 0;
    border: none;
    background: none;
    color: color('font-color');
    font-size: $tag-font-size;
    cursor: pointer;
  }

  &_item {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    min-width: 45px;
    margin-left: $tag-spacing;
    padding: $tag-padding;
    border-radius: $tag-border-radius;
    background: color('blue-light3');
    color: color('font-color');
    font-size: $tag-font-size;
    font-weight: 400;
    letter-spacing: .1px;
    &:first-child {
      margin-left: 0;
    }
  }
}
