.hdd-tags {
  position: relative;
  margin-top: .5rem;

  &_icon,
  svg,
  i {
    margin-left: $tag-icon-spacing;
    cursor: pointer;
  }

  &_item {
    @extend .is-p-small;

    display: inline-block;
    margin-left: $tag-spacing;
    padding: $tag-padding;
    border-radius: $tag-border-radius;
    background: color('blue-light3');

    &:first-child {
      margin-left: 0;
    }
  }
}
