$tag-padding: 10px;
$tag-border-radius: $border-radius;

.hdd-tags {
  position: relative;
  margin-top: 0.5rem;

  &_icon,
  svg,
  i {
    font-size: 1rem;
    display: inline-block;
    margin: 0;
    margin-left: 0.5rem;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
  }

  &_item {
    @extend .is-p-small;

    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    min-width: 45px;
    margin-left: var(--hdd-spacing-2);
    padding: $tag-padding;
    border-radius: $tag-border-radius;
    background: var(--hdd-background-tags);
    letter-spacing: 0.15px;
    &:first-child {
      margin-left: 0;
    }
  }
}
