$tooltip-border-style: 5px solid;
$tooltip-margin-offset: -5px;
$tooltip-calculate-height: auto;
$tooltip-vertical-transform: translate(-50%, 0);
$tooltip-horizontal-transform: translate(0, -50%);

.hdd-tooltip {
  // Variable containing '&' to jump to current parent inside a child class.
  $this: &;
  position: relative;
  display: inline-block;

  &:hover {
    #{$this}_content {
      @extend .hdd-tooltip_content, .is-active;
    }
  }
  &:focus {
    #{$this}_content {
      @extend .hdd-tooltip_content, .is-active;
    }
  }

  &_content {
    @extend .is-p;
    position: absolute;
    opacity: 0;
    z-index: -1;
    width: max-content;
    max-width: 25ch;
    pointer-events: none;
    background-color: var(--hdd-color-grey-dark);
    color: var(--hdd-color-contrast-font-color);
    padding: 10px var(--hdd-spacing-2);
    border-radius: $border-radius;
    box-shadow: var(--hdd-shadow-strong);
    transition: $short-transition;

    // Defaults to is-bottom tooltip if no direction class is applied.
    &:not(.is-right):not(.is-left):not(.is-top) {
      @extend .is-bottom;
    }

    &.is-right {
      top: 50%;
      left: 110%;
      transform: $tooltip-horizontal-transform;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 100%;
        margin-top: $tooltip-margin-offset;
        border: $tooltip-border-style;
        border-color: transparent var(--hdd-color-grey-dark) transparent transparent;
      }
    }
    &.is-left {
      top: 50%;
      right: 110%;
      transform: $tooltip-horizontal-transform;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 100%;
        margin-top: $tooltip-margin-offset;
        border: $tooltip-border-style;
        border-color: transparent transparent transparent var(--hdd-color-grey-dark);
      }
    }
    &.is-bottom {
      top: 150%;
      left: 50%;
      transform: $tooltip-vertical-transform;

      &::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: $tooltip-margin-offset;
        border: $tooltip-border-style;
        border-color: transparent transparent var(--hdd-color-grey-dark) transparent;
      }
    }

    &.is-top {
      bottom: 150%;
      left: 50%;
      transform: $tooltip-vertical-transform;

      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: $tooltip-margin-offset;
        border: $tooltip-border-style;
        border-color: var(--hdd-color-grey-dark) transparent transparent transparent;
      }
    }
    &.is-active {
      opacity: 1;
      z-index: 1;
    }
  }
  &.is-light {
    #{$this}_content {
      background-color: var(--hdd-color-white) !important;
      color: var(--hdd-color-font-color) !important;
    }
    #{$this}_content.is-right::after {
      border-color: transparent var(--hdd-color-white) transparent transparent !important;
    }
    #{$this}_content.is-left::after {
      border-color: transparent transparent transparent var(--hdd-color-white) !important;
    }
    #{$this}_content.is-top::after {
      border-color: var(--hdd-color-white) transparent transparent transparent !important;
    }
    #{$this}_content.is-bottom::after {
      border-color: transparent transparent var(--hdd-color-white) transparent !important;
    }
  }
}
