.hdd-tooltip {
  $this: &;
  position: relative;
  display: inline-block;

  &:hover {
    #{$this}_content {
      @extend .hdd-tooltip_content, .is-active;
    }
  }
  &:focus {
    #{$this}_content {
      @extend .hdd-tooltip_content, .is-active;
    }
  }

  &_content {
    @extend .is-p-small;
    position: absolute;
    opacity: 0;
    z-index: -1;
    min-width: 90px;
    max-width: 70ch;
    background-color: var(--hdd-color-grey-dark);
    color: var(--hdd-color-contrast-font-color);
    padding: 10px var(--hdd-spacing-2);
    border-radius: $border-radius;
    box-shadow: $shadow-strong;
    transition: 150ms;
    transform: scale(0.5);

    // Defaults to is-bottom tooltip if no direction class is applied.
    &:not(.is-right):not(.is-left):not(.is-top) {
      @extend .is-bottom;
    }

    &.is-right {
      top: -10px;
      left: 110%;
      margin-left: 0;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 100%;
        margin-top: -5px;
        border: 5px solid;
        border-color: transparent var(--hdd-color-grey-dark) transparent transparent;
      }
    }
    &.is-left {
      top: -10px;
      right: 110%;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 100%;
        margin-top: -5px;
        border: 5px solid;
        border-color: transparent transparent transparent var(--hdd-color-grey-dark);
      }
    }
    &.is-bottom {
      top: 150%;
      left: 50%;
      margin-left: -60px;

      &::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border: 5px solid;
        border-color: transparent transparent var(--hdd-color-grey-dark) transparent;
      }
    }

    &.is-top {
      bottom: 150%;
      left: 50%;
      margin-left: -60px;

      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border: 5px solid;
        border-color: var(--hdd-color-grey-dark) transparent transparent transparent;
      }
    }
    &.is-active {
      opacity: 1;
      z-index: 1;
      transform: scale(1);
    }
  }
    &.is-light {
    #{$this}_content {
      background-color: var(--hdd-color-white) !important;
      color: var(--hdd-color-font-color) !important;
    }
    #{$this}_content.is-right::after {
      border-color: transparent var(--hdd-color-white) transparent transparent !important;
    }
    #{$this}_content.is-left::after {
      border-color: transparent transparent transparent var(--hdd-color-white) !important;
    }
    #{$this}_content.is-top::after {
      border-color: var(--hdd-color-white) transparent transparent transparent !important;
    }
    #{$this}_content.is-bottom::after {
      border-color: transparent transparent var(--hdd-color-white) transparent !important;
    }
  }
}
