.hdd-tooltip {
  // Variable for appending style to parent class
  $this: &;

  position: relative;

  &:hover:not(.no-hovering) {
    #{$this}_content {
      @extend .hdd-tooltip_content, .is-active;
    }
  }

  &_content {
    //.is-p is font-properties, defined in typography.
    @extend .is-p;

    $content-color: color('grey-dark');
    $content-text-color: color('white');

    display: table;
    position: absolute;
    z-index: -1;

    top: calc(100% + #{$tooltip-tip-size});
    right: 0;
    left: 50%;

    box-sizing: border-box;
    min-width: $tooltip-width;

    margin: auto;
    padding: $tooltip-padding;

    transform: translateX(-50%);
    transition: opacity $medium-transition $transition-cubic, z-index $medium-transition step-end;
    border-radius: $tooltip-border-radius;

    opacity: 0;
    background: $content-color;
    color: $content-text-color;
    text-align: left;

    &::before {
      content: '';

      display: block;
      position: absolute;

      top: -$tooltip-tip-size;
      right: 0;
      left: 0;

      width: 0;
      height: 0;

      margin: auto;

      border-right: $tooltip-tip-size solid transparent;
      border-bottom: $tooltip-tip-size solid $content-color;
      border-left: $tooltip-tip-size solid transparent;
    }

    &.is-active {
      z-index: 90;
      transition: opacity $medium-transition $transition-cubic, z-index $medium-transition step-start;
      opacity: 1;
    }

    &.is-leaning-left {
      left: calc(50% + #{$tooltip-tip-left-offset} + #{$tooltip-tip-size});
      transform: translateX(-100%);

      &::before {
        right: $tooltip-tip-right-offset;
        left: auto;
      }
    }

    &.is-leaning-right {
      left: calc(50% - #{$tooltip-tip-left-offset} - #{$tooltip-tip-size});
      transform: translateX(0);

      &::before {
        right: auto;
        left: $tooltip-tip-left-offset;
      }
    }
  }
}