@use "./../variables/shared-sizes.scss" as shared-sizes;
@use "./../variables/animations.scss" as animations;
@use "./../variables/typography.scss" as typography;
@use "./../utilities/typography.scss" as typographyUtil;

$tooltip-tip-size: 10px;
$tooltip-padding: 0.5rem 1rem;
$tooltip-width: 150px;
$tooltip-menu-side-padding: 0.75rem;
$tooltip-menu-padding: 0.5rem 1rem;
$tooltip-tip-right-offset: 1rem;
$tooltip-tip-left-offset: 1rem;
$tooltip-border-radius: shared-sizes.$border-radius;

.hdd-tooltip {
  // Variable containing '&' to jump to current parent inside a child class.
  $this: &;

  position: relative;

  &:hover:not(.no-hover) {
    #{$this}_content {
      @extend .hdd-tooltip_content, .is-active;
    }
  }

  &_content {
    //.is-p is font-properties, defined in typography.
    @extend .is-p;
    // @extend typography, .is-p;
    // @extend typography, .is-p

    $content-color: var(--hdd-color-grey-dark);
    $content-text-color: var(--hdd-color-white);

    display: table;
    position: absolute;
    z-index: -1;

    top: calc(100% + #{$tooltip-tip-size});
    right: 0;
    left: 50%;

    box-sizing: border-box;
    min-width: $tooltip-width;

    margin: auto;
    padding: $tooltip-padding;

    transform: translateX(-50%);
    transition: opacity animations.$medium-transition animations.$transition-cubic, z-index animations.$medium-transition step-end;
    border-radius: $tooltip-border-radius;

    opacity: 0;
    background: $content-color;
    color: $content-text-color;
    text-align: left;

    &::before {
      content: '';

      display: block;
      position: absolute;

      top: -$tooltip-tip-size;
      right: 0;
      left: 0;

      width: 0;
      height: 0;

      margin: auto;

      border-right: $tooltip-tip-size solid transparent;
      border-bottom: $tooltip-tip-size solid $content-color;
      border-left: $tooltip-tip-size solid transparent;
    }

    &.is-active {
      z-index: 90;
      transition: opacity animations.$medium-transition animations.$transition-cubic, z-index animations.$medium-transition step-start;
      opacity: 1;
    }

    &.is-leaning-left {
      left: calc(50% + #{$tooltip-tip-left-offset} + #{$tooltip-tip-size});
      transform: translateX(-100%);

      &::before {
        right: $tooltip-tip-right-offset;
        left: auto;
      }
    }

    &.is-leaning-right {
      left: calc(50% - #{$tooltip-tip-left-offset} - #{$tooltip-tip-size});
      transform: translateX(0);

      &::before {
        right: auto;
        left: $tooltip-tip-left-offset;
      }
    }
  }
}