@import '../frameworks/helpers';

@function color($name) {
  $color-map: null;

  @if map-has-key($colors, $name) {
    $color-map: map-get($colors, $name);
  } @else {
    @each $label, $map in $colors {
      @if map-has-key($colors, alt-labels) {
        @if contains(map-get($map, alt-labels), $name) {
          $color-map: $map;
        }
      }
    }
  }

  @if not $color-map {
    @warn 'the color "#{$name}" was not found';
    @return null;
  }

  @return map-get($color-map, color);
}

$font-color: #444444;

// All colors as a list ready for iterations
$colors: (
  white: (
    color: #FFF,
    text: #444444
  ),
  black: (
    color: #000000,
    text: #FFFFFF
  ),
  blue: (
    color: #1164A4,
    text: #FFFFFF,
    alt-labels: (primary)
  ),
  blue-dark: (
    color: #00446F,
    text: #FFFFFF
  ),
  blue-light1: (
    color: #50A9D8,
    text: #444444
  ),
  blue-light2: (
    color: #A2DBFF,
    text: #444444
  ),
  blue-light3: (
    color: #D2EFFE,
    text: #444444
  ),
  blue-light4: (
    color: #EFF9FF,
    text: #444444
  ),
  grey: (
    color: #ADB0B6,
    text: #444444
  ),
  grey-dark: (
    color: #57585A,
    text: #FFFFFF
  ),
  grey-light: (
    color: #EEF0F4,
    text: #444444
  ),
  signal-green: (
    color: #6AAB2F,
    text: #FFFFFF
  ),
  signal-yellow: (
    color: #F0DA00,
    text: #FFFFFF
  ),
  signal-red: (
    color: #E15559,
    text: #FFFFFF
  ),
  data-navy: (
    color: #23588C,
    text: #FFFFFF
  ),
  data-marine: (
    color: #0F6ECA,
    text: #FFFFFF
  ),
  data-blue: (
    color: #4BA8FF,
    text: #FFFFFF
  ),
  data-turquoise: (
    color: #24D2EF,
    text: #FFFFFF
  ),
  data-seagreen: (
    color: #46B5AB,
    text: #FFFFFF
  ),
  data-green: (
    color: #6FE9AA,
    text: #FFFFFF
  ),
  data-orange: (
    color: #F1842B,
    text: #FFFFFF
  ),
  data-yellow: (
    color: #FFD209,
    text: #FFFFFF
  )
);

$gradients: (
  twilight: (
    angle: 90,
    from: #279DD0,
    to: color(blue)
  )
);
