@import '../frameworks/helpers';

$white: #ffffff;
$black: #000000;

// Text color
$font-color: #444444;

// Primary colors
$blue: #1164A4;
$blue-dark: #00446F;
$blue-light1: #50A9D8;
$blue-light2: #A2DBFF;
$blue-light3: #D2EFFE;
$blue-light4: #EFF9FF;

// Greys
$grey-dark: #57585A;
$grey: #ADB0B6;
$grey-light: #EEF0F4;

// Signal colors
$signal-green: #6AAB2F;
$signal-yellow: #F0DA00;
$signal-red: #E15559;

// Data visualization
$data-navy: #23588C;
$data-marine: #0F6ECA;
$data-blue: #4BA8FF;
$data-turquoise: #24D2EF;
$data-seagreen: #46B5AB;
$data-green: #6FE9AA;
$data-orange: #F1842B;
$data-yellow: #FFD209;

// Gradients
$gradient-twilight: 90, #279DD0, $blue;
