@import 'colors';

$hdd-material-primary: (
  50: color('blue-light4'),
  100: color('blue-light3'),
  200: color('blue-light2'),
  300: color('blue-light1'),
  400: color('blue'),
  500: color('blue'),
  600: color('blue'),
  700: color('blue'),
  800: color('blue-dark'),
  900: color('blue-dark'),
  A100: color('blue-light3'),
  A200: color('blue-light1'),
  A400: color('blue'),
  A700: color('blue-dark'),
  contrast: (
    50: color('black'),
    100: color('black'),
    200: color('black'),
    300: color('black'),
    400: color('black'),
    500: color('white'),
    600: color('white'),
    700: color('white'),
    800: color('grey-light'),
    900: color('grey-light'),
    A100: color('black'),
    A200: color('white'),
    A400: color('white'),
    A700: color('white'),
  )
);

$hdd-material-accent: (
  50: color('signal-green'),
  100: color('signal-green'),
  200: color('signal-green'),
  300: color('signal-green'),
  400: color('signal-green'),
  500: color('signal-green'),
  600: color('signal-green'),
  700: color('signal-green'),
  800: color('signal-green'),
  900: color('signal-green'),
  A100: color('signal-green'),
  A200: color('signal-green'),
  A400: color('signal-green'),
  A700: color('signal-green'),
  contrast: (
    50: color('black'),
    100: color('black'),
    200: color('black'),
    300: color('black'),
    400: color('black'),
    500: color('white'),
    600: color('white'),
    700: color('white'),
    800: color('grey-light'),
    900: color('grey-light'),
    A100: color('black'),
    A200: color('white'),
    A400: color('white'),
    A700: color('white'),
  )
);

$hdd-material-warn: (
  50: color('signal-red'),
  100: color('signal-red'),
  200: color('signal-red'),
  300: color('signal-red'),
  400: color('signal-red'),
  500: color('signal-red'),
  600: color('signal-red'),
  700: color('signal-red'),
  800: color('signal-red'),
  900: color('signal-red'),
  A100: color('signal-red'),
  A200: color('signal-red'),
  A400: color('signal-red'),
  A700: color('signal-red'),
  contrast: (
    50: color('black'),
    100: color('black'),
    200: color('black'),
    300: color('black'),
    400: color('black'),
    500: color('white'),
    600: color('white'),
    700: color('white'),
    800: color('grey-light'),
    900: color('grey-light'),
    A100: color('black'),
    A200: color('white'),
    A400: color('white'),
    A700: color('white'),
  )
);
