$hdd-material-primary: (
  50: var(--hdd-blue-light4),
  100: var(--hdd-blue-light3),
  200: var(--hdd-blue-light2),
  300: var(--hdd-blue-light1),
  400: var(--hdd-blue),
  500: var(--hdd-blue),
  600: var(--hdd-blue),
  700: var(--hdd-blue),
  800: var(--hdd-blue-dark),
  900: var(--hdd-blue-dark),
  A100: var(--hdd-blue-light3),
  A200: var(--hdd-blue-light1),
  A400: var(--hdd-blue),
  A700: var(--hdd-blue-dark),
  contrast: (
    50: var(--hdd-black),
    100: var(--hdd-black),
    200: var(--hdd-black),
    300: var(--hdd-black),
    400: var(--hdd-black),
    500: var(--hdd-white),
    600: var(--hdd-white),
    700: var(--hdd-white),
    800: var(--hdd-grey-light),
    900: var(--hdd-grey-light),
    A100: var(--hdd-black),
    A200: var(--hdd-white),
    A400: var(--hdd-white),
    A700: var(--hdd-white),
  )
);

$hdd-material-accent: (
  50: var(--hdd-signal-green),
  100: var(--hdd-signal-green),
  200: var(--hdd-signal-green),
  300: var(--hdd-signal-green),
  400: var(--hdd-signal-green),
  500: var(--hdd-signal-green),
  600: var(--hdd-signal-green),
  700: var(--hdd-signal-green),
  800: var(--hdd-signal-green),
  900: var(--hdd-signal-green),
  A100: var(--hdd-signal-green),
  A200: var(--hdd-signal-green),
  A400: var(--hdd-signal-green),
  A700: var(--hdd-signal-green),
  contrast: (
    50: var(--hdd-black),
    100: var(--hdd-black),
    200: var(--hdd-black),
    300: var(--hdd-black),
    400: var(--hdd-black),
    500: var(--hdd-white),
    600: var(--hdd-white),
    700: var(--hdd-white),
    800: var(--hdd-grey-light),
    900: var(--hdd-grey-light),
    A100: var(--hdd-black),
    A200: var(--hdd-white),
    A400: var(--hdd-white),
    A700: var(--hdd-white),
  )
);

$hdd-material-warn: (
  50: var(--hdd-signal-red),
  100: var(--hdd-signal-red),
  200: var(--hdd-signal-red),
  300: var(--hdd-signal-red),
  400: var(--hdd-signal-red),
  500: var(--hdd-signal-red),
  600: var(--hdd-signal-red),
  700: var(--hdd-signal-red),
  800: var(--hdd-signal-red),
  900: var(--hdd-signal-red),
  A100: var(--hdd-signal-red),
  A200: var(--hdd-signal-red),
  A400: var(--hdd-signal-red),
  A700: var(--hdd-signal-red),
  contrast: (
    50: var(--hdd-black),
    100: var(--hdd-black),
    200: var(--hdd-black),
    300: var(--hdd-black),
    400: var(--hdd-black),
    500: var(--hdd-white),
    600: var(--hdd-white),
    700: var(--hdd-white),
    800: var(--hdd-grey-light),
    900: var(--hdd-grey-light),
    A100: var(--hdd-black),
    A200: var(--hdd-white),
    A400: var(--hdd-white),
    A700: var(--hdd-white),
  )
);
