/***********************
* Shared
*************************/
$border-radius: 4px;

/************************
 * Buttons
 ************************/

$button-radius: $border-radius;
$button-solid-border-width: 1px;
$button-outlined-border-width: 1px;
$button-padding: 0.7rem 1.8rem;
$button-padding-small: 0.5rem 1rem;
$button-padding-icon: 1.25rem;
$button-icon-padding: 0.5rem 0.9rem;

/************************
 * Cards
 ************************/

$card-radius: $border-radius;
$card-padding-y: 1.375rem;
$card-padding-x: 1.375rem;
$card-header-icon-height: 28px;
$card-header-icon-margin: 8px;
$card-header-action-icon-size: 24px;
$card-actions-action-padding: 13px 0;
$card-actions-button-spacing: 25px;

/************************
 * Form Input
 ************************/

$form-input-icon-margin: 0.9rem;
$form-input-padding-left: 0.7rem;
$form-input-padding: $form-input-padding-left 0.9rem;
$form-input-border-radius: $border-radius;
$form-input-border: 1px solid var(--hdd-grey);

/************************
 * Form Checkbox
 ************************/

$form-checkbox-mark-size: 14px;
$form-checkbox-mark-border-radius: $border-radius;
$form-checkbox-mark-border: 1px solid var(--hdd-primary);

/************************
 * Form Radiobutton
 ************************/

$form-radiobutton-mark-size: 14px;
$form-radiobutton-mark-border-radius: 14px;
$form-radiobutton-mark-border: 1px solid var(--hdd-primary);

/************************
 * Form Select
 ************************/
$form-select-padding: $form-input-padding;
$form-select-border-radius: $border-radius;
$form-select-border: $form-input-border;
$form-select-icon-margin: 0.9rem;

/************************
 * Sidebar navigation
 ************************/

$sidenav-collapsed-width: 65px;
$sidenav-extended-width: 300px;
$sidenav-z-index: 90;

/************************
 * Navigation
 ************************/

$navigation-height: $sidenav-collapsed-width;
$navigation-z-index: 99;
$navigation-padding: 0 0.5rem;
$navigation-avatar-size: 0.7;

/************************
 * Badge
 ************************/

$badge-padding: 0.2rem 0.6rem;
$badge-radius: 2rem;

$badge-icon-size: 6px;
$badge-icon-border: 2px solid var(--hdd-white);

/************************
 * Table
 ************************/

$table-header-padding: 1.2rem 1rem;
$table-row-padding: 0.7rem 1rem;
$table-first-column-padding: 1.5rem;
$table-last-column-padding: 1.5rem;

/************************
 * Small menu
 ************************/

$small-menu-tip-size: 5px;
$small-menu-padding: 0.5rem 1rem;
$small-menu-width: 150px;
$small-menu-menu-padding: 0.75rem;
$small-menu-tip-right-offset: 1rem;
$small-menu-tip-left-offset: 1rem;
$small-menu-border-radius: $border-radius;

/************************
 * Tooltip
 ************************/

$tooltip-tip-size: 10px;
$tooltip-padding: 0.5rem 1rem;
$tooltip-width: 150px;
$tooltip-menu-side-padding: 0.75rem;
$tooltip-menu-padding: 0.5rem 1rem;
$tooltip-tip-right-offset: 1rem;
$tooltip-tip-left-offset: 1rem;
$tooltip-border-radius: $border-radius;

/************************
 * Tags
 ************************/

$tag-font-size: 0.6875rem;
$tag-padding: 0.4375rem 0.75rem;
$tag-icon-spacing: 0.625rem;
$tag-border-radius: $border-radius;
$tag-spacing: 0.25rem;

/************************
 * Dropdown
 ************************/

$dropdown-border-radius: $border-radius;
$dropdown-border: 1px solid var(--hdd-grey);
$dropdown-margin: 20px;
$dropdown-spacing-element: 4px;
$dropdown-content-padding: 0.5rem 0;
$dropdown-item-padding: 0.5rem 0 0.5rem 1rem;

/************************
 * Feedback message
 ************************/
$feedback-padding: 20px 30px;
$feedback-border-radius: $border-radius;
$feedback-min-width: 260px;
$feedback-icon-size: 20px;
$feedback-icon-gap: 20px;
$feedback-close-button-size: 14px;
$feedback-message-gap: 10px;
