/************************
 * Buttons
 ************************/

$button-radius: 4px;
$button-solid-border-width: 1px;
$button-outlined-border-width: 1px;
$button-padding: .7rem 1.8rem;
$button-padding-small: .5rem 1rem;
$button-padding-icon: 1.25rem;
$button-icon-spacing: .5rem;

/************************
 * Cards
 ************************/

$card-radius: 3px;
$card-padding: 24px 28px;
$card-header-margin: 24px;
$card-header-icon-height: 28px;
$card-header-icon-margin: 8px;
$card-header-action-icon-size: 24px;
$card-content-padding: 24px;
$card-action-button-spacing: 8px;

/************************
 * Form Input
 ************************/

$form-input_icon-margin: .7rem;
$form-input_padding: 0.7rem .9rem;
$form-input_border-radius: 4px;
$form-input_border: 1px solid color(grey);

/************************
 * Form Checkbox
 ************************/

$form-checkbox_mark-size: 18px;
$form-checkbox_mark-border-radius: 2px;
$form-checkbox_mark-border: 1px solid color(grey);

/************************
 * Form Select
 ************************/
$form-select_padding: $form-input_padding;
$form-select_border-radius: $form-input_border-radius;
$form-select_border: $form-input_border;
$form-select_icon_padding: 0 .9rem 0 0;

/************************
 * Sidebar navigation
 ************************/

$sidenav-collapsed-width: 65px;
$sidenav-extended-width: 300px;
$sidenav-z-index: 99;

/************************
 * Badge
 ************************/

$badge-padding: .2rem .6rem;
$badge-radius: 2rem;

$badge-icon-size: 6px;
$badge-icon-border: 2px solid color(white);

/************************
 * Table
 ************************/

$table-header-padding: 1.2rem 1rem;
$table-row-padding: .7rem 1rem;

/************************
 * Tooltip
 ************************/

$tooltip-tip-size: 8px;
$tooltip-offset: 3px;
$tooltip-padding: .5rem 1rem;
$tooltip-width: 150px;
$tooltip-menu-side-padding: .75rem;
$tooltip-menu-padding: .5rem 1rem;
$tooltip-tip-right-offset: 1rem;
$tooltip-tip-left-offset: 1rem;
$tooltip-border-radius: 4px;

/************************
 * Navigation
 ************************/

$navigation-height: $sidenav-collapsed-width;
$navigation-padding: 0 .5rem;
$navigation-avatar-size: .7;

/************************
 * Tags
 ************************/
$tag-padding: .3rem .4rem .3rem .8rem;
$tag-icon-spacing: .4rem;
$tag-border-radius: 4px;
$tag-spacing: .5rem;
