

$margin-spacing: (
  "margin-1": (
    margin: 8px,
    alt-labels: (
      primary-margin
    )
  ),
  "margin-2": (
    margin: 16px
  ),
  "margin-3": (
    margin: 24px
  ),
  "margin-4": (
    margin: 32px
  ),
  "margin-5": (
    margin: 40px
  ),
  "margin-6": (
    margin: 48px
  ),
  "margin-7": (
    margin: 56px
  ),
  "margin-8": (
    margin: 64px
  ),
  "margin-9": (
    margin: 72px
  )
);

$padding-spacing: (
  "padding-1": (
    padding: 8px,
    alt-labels: (
      primary-padding
    )
  ),
  "padding-2": (
    padding: 16px
  ),
  "padding-3": (
    padding: 24px
  ),
  "padding-4": (
    padding: 32px
  ),
  "padding-5": (
    padding: 40px
  ),
  "padding-6": (
    padding: 48px
  ),
  "padding-7": (
    padding: 56px
  ),
  "padding-8": (
    padding: 64px
  ),
  "padding-9": (
    padding: 72px
  )
);
