@import 'fontawesome/fontawesome';
@import 'colors';

@function font-size($name) {
  $typography-map: null;

  @if map-has-key($typography, $name) {
    $typography-map: map-get($typography, $name);
  } @else {
    @each $label, $map in $typography {
      @if map-has-key($typography, alt-labels) {
        @if contains(map-get($map, alt-labels), $name) {
          $typography-map: $map;
        }
      }
    }
  }

  @if not $typography-map {
    @warn 'the typography variable "#{$name}" was not found';
    @return null;
  }

  @return map-get($typography-map, size);
}
 
// Klassene som legges på .is- i typography i utilities
$typography: (
  h1: (
    family: var(--hdd-font-family),
    size: 1.25rem,
    spacing: .21px,
    weight: 500,
    color: var(--hdd-text-primary),
    elements: (h1)
  ),
  h2: (
    family: var(--hdd-font-family),
    size: 1rem,
    spacing: .21px,
    weight: 400,
    color: var(--hdd-text-primary),
    elements: (h2)
  ),
  h3: (
    family: var(--hdd-font-family),
    size: .875rem,
    spacing: .21px,
    weight: 500,
    color: var(--hdd-text-primary),
    elements: (h3)
  ),
  p: (
    family: var(--hdd-font-family),
    size: .875rem,
    spacing: .21px,
    weight: 400,
    color: var(--hdd-text-primary),
    elements: (p)
  ),
  p-small: (
    family: var(--hdd-font-family),
    size: .675rem,
    spacing: .21px,
    weight: 400,
    color: var(--hdd-text-primary)
  ),
  icon-small: (
    family: 'Font Awesome 5 Pro',
    size: 1.2rem,
    weight: 300,
    color: var(--hdd-text-primary)
  ),
  icon-medium: (
    family: 'Font Awesome 5 Pro',
    size: 1.5rem,
    weight: 300,
    color: var(--hdd-text-primary)
  ),
  icon-large: (
    family: 'Font Awesome 5 Pro',
    size: 2rem,
    weight: 300,
    color: var(--hdd-text-primary)
  )
);

:root {
  --hdd-font-family: 'Roboto', Arial; 
}
