@import 'palette.scss';

$fortum-primary: (
  50: $optimistic-green-50,
  100: $optimistic-green-50,
  200: $optimistic-green-75,
  300: $optimistic-green-75,
  400: $optimistic-green-75,
  500: $optimistic-green,
  600: $optimistic-green,
  700: $optimistic-green,
  800: $green,
  900: $green,
  A100: $optimistic-green-50,
  A200: $optimistic-green-75,
  A400: $optimistic-green,
  A700: $green,
  contrast: (
    50: $black-75,
    100: $black-75,
    200: $black-75,
    300: $black-75,
    400: $black-75,
    500: white,
    600: white,
    700: white,
    800: $light-grey-50,
    900: $light-grey-50,
    A100: $black-75,
    A200: white,
    A400: white,
    A700: white,
  )
);

$fortum-accent: (
  50: $water-blue-50,
  100: $water-blue-50,
  200: $water-blue-75,
  300: $water-blue-75,
  400: $water-blue-75,
  500: $water-blue,
  600: $water-blue,
  700: $water-blue,
  800: $water-blue-dark,
  900: $water-blue-dark,
  A100: $water-blue-50,
  A200: $water-blue-75,
  A400: $water-blue,
  A700: $water-blue-dark,
  contrast: (
    50: $black-75,
    100: $black-75,
    200: $black-75,
    300: $black-75,
    400: $black-75,
    500: white,
    600: white,
    700: white,
    800: $light-grey-50,
    900: $light-grey-50,
    A100: $black-75,
    A200: white,
    A400: white,
    A700: white,
  )
);

$fortum-warn: (
  50: $power-red-50,
  100: $power-red-50,
  200: $power-red-75,
  300: $power-red-75,
  400: $power-red-75,
  500: $power-red,
  600: $power-red,
  700: $power-red,
  800: $power-red,
  900: $power-red,
  A100: $power-red-50,
  A200: $power-red-75,
  A400: $power-red,
  A700: $power-red,
  contrast: (
    50: $black-75,
    100: $black-75,
    200: $black-75,
    300: $black-75,
    400: $black-75,
    500: white,
    600: white,
    700: white,
    800: $light-grey-50,
    900: $light-grey-50,
    A100: $black-75,
    A200: white,
    A400: white,
    A700: white,
  )
);