@import 'palette.scss';

$hdd-primary: (
  50: $blue-light4,
  100: $blue-light3,
  200: $blue-light2,
  300: $blue-light1,
  400: $blue,
  500: $blue,
  600: $blue,
  700: $blue,
  800: $blue-dark,
  900: $blue-dark,
  A100: $blue-light3,
  A200: $blue-light1,
  A400: $blue,
  A700: $blue-dark,
  contrast: (
    50: $black,
    100: $black,
    200: $black,
    300: $black,
    400: $black,
    500: white,
    600: white,
    700: white,
    800: $grey-light,
    900: $grey-light,
    A100: $black,
    A200: white,
    A400: white,
    A700: white,
  )
);

$hdd-accent: (
  50: $signal-green,
  100: $signal-green,
  200: $signal-green,
  300: $signal-green,
  400: $signal-green,
  500: $signal-green,
  600: $signal-green,
  700: $signal-green,
  800: $signal-green,
  900: $signal-green,
  A100: $signal-green,
  A200: $signal-green,
  A400: $signal-green,
  A700: $signal-green,
  contrast: (
    50: $black,
    100: $black,
    200: $black,
    300: $black,
    400: $black,
    500: white,
    600: white,
    700: white,
    800: $grey-light,
    900: $grey-light,
    A100: $black,
    A200: white,
    A400: white,
    A700: white,
  )
);

$hdd-warn: (
  50: $signal-red,
  100: $signal-red,
  200: $signal-red,
  300: $signal-red,
  400: $signal-red,
  500: $signal-red,
  600: $signal-red,
  700: $signal-red,
  800: $signal-red,
  900: $signal-red,
  A100: $signal-red,
  A200: $signal-red,
  A400: $signal-red,
  A700: $signal-red,
  contrast: (
    50: $black,
    100: $black,
    200: $black,
    300: $black,
    400: $black,
    500: white,
    600: white,
    700: white,
    800: $grey-light,
    900: $grey-light,
    A100: $black,
    A200: white,
    A400: white,
    A700: white,
  )
);
